[2017-06-30 08:56] adnannidal opened #1 "Hi"
only 2-3 images are showing.

Login/Signup showing loader only no progress.

How can I configure FB login?

Username: adnannidal

[2017-06-30 10:21] adnannidal opened #2 "the app performance"
Hey guys can you please check the video below the see why the app performance is very poor ??

https://drive.google.com/file/d/0ByynV4zah1bqd09XY0Q5U3ZKeUE/view?usp=sharing

-the color variant is not showing up
-only the first product image is showing the rest is only a blank
-the app is very very slow and keep freezing.

i don't know whats wrong ???

please advise

[2017-06-30 10:59] inspireui commented on #2
Hi, could you download the latest version v3.1 from Envato which has just released on today to see if it is faster?

[2017-06-30 11:03] inspireui commented on #1
Hi, could you download the repos Wordpress here for the installing or have a check to some the mandatory config from this document - https://mstore.gitbooks.io/mstore-manual/content/pro-version/wordpress-installing.html

[2017-06-30 11:16] adnannidal commented on #2
v 3.1 is not available on Envato, i only can see version v 3.0

[2017-06-30 13:06] inspireui commented on #2
Hi Adnan, thank you for your checking, i've sent the latest package to your email to check if it better.

[2017-06-30 15:23] faysal515 commented on #2
I also don't see any v3.1 download options. It downloads the previous version. purchase_Id: faysal515

[2017-06-30 16:16] faysal515 opened #3 "build failed"
![image](https://user-images.githubusercontent.com/10289348/27744541-a8a6b6f4-5de1-11e7-905f-7007542df0c1.png)

[2017-06-30 19:56] wphjaelpen opened #4 "Error when run Expo"
Why does I always get this error, when I run the expo app?
See screenshot from my iPhone: https://cl.ly/3q2w421U0K3X

[2017-07-01 02:26] inspireui commented on #4
Hi, it could be cause by empty product attribute config, please try to add some product attribute like this - https://gyazo.com/4943a80f0c995a41325d7a862ae49df9, we will check this issue to cover for the site not using attribute.

[2017-07-01 02:28] inspireui commented on #2
Hi faysal515, i'm checking with Envato about the review code and we may submit the update again, in the meantime please send your request download new version to our email support@inspireui.com with the purchase code.

[2017-07-01 02:42] inspireui commented on #3
Hi please try to copy this folder - https://www.dropbox.com/s/2uyc2210nvkltpf/android.zip?dl=0 and override to the android folder in your project to see if it can be fix, and make sure your Android SDK, Android Support Repository, Google Play service, Google Repository,  Intel x86... is update to latest version - https://github.com/devfd/react-native-google-signin/blob/master/android-guide.md

[2017-07-01 04:16] xa9 opened #5 "add new language"
in your https://mstore.gitbooks.io/mstore-manual/content/pro-version/multi-languages.html

the code is different with a new update

![screen shot 2017-07-01 at 7 07 50 am](https://user-images.githubusercontent.com/29809274/27759042-0f56f99a-5e2d-11e7-9275-6be59cfa3d3e.png)

how to edit it ?

[2017-07-01 05:21] faysal515 commented on #3
after replacing file, i'm getting this error
![image](https://user-images.githubusercontent.com/10289348/27759303-647d9b28-5e4f-11e7-8a36-5a183e6c5547.png)

[2017-07-03 11:00] inspireui commented on #3
Hi, we are having the missing package on Envato as they are update old package, we have uploaded it again and you will have new v3.1 in 1-2 days, if you can wait please email to our support email with your purchase code to get it soon. Thank you!

[2017-07-03 11:05] inspireui commented on #5
Hi, sorry for the confuse, we have updated new v3.1 version with new Language update so it will match with the document, it will be available in 1-2 days.

[2017-07-04 12:07] xa9 commented on #5
Thanks

[2017-07-04 15:12] wphjaelpen commented on #4
Yeah, I think that fixed the problem :) thanks 👍

[2017-07-04 22:25] enriqueguardia opened #6 "Issues in 3.1"
Hey guys. The app is looking great but here are some issues I found:

1. If you constantly scroll down in the home screen, the app freezes and exits to Android home screen.
2. All the orders placed show as amount 0.00 on the WooCommerce backend. Instead of the real amount placed by customer.
3. When you press on BUY NOW, it takes you to your cart but does NOT add the product to your cart.
4. The F

[2017-07-04 23:21] wphjaelpen opened #7 "Issue 3.1"
1) All order made with the Mstore Expo app, just show 0.00 in the Woocommerce backend.

2)
The thumbnail first show up on the product page when you tap the screen: See screenshot https://cl.ly/2a2a270P1n0A

[2017-07-05 03:11] irsanrml commented on #1
Hello @inspireui,

how can i login to wp-admin page using root username?
here is users wp default :

![image](https://user-images.githubusercontent.com/4324813/27847802-3c9f8f80-616a-11e7-9eec-e5ff5fc291df.png)

i don't know the password, please let me know

my username : irsanrml

[2017-07-05 03:58] LuisJorgeAr opened #8 "Installation help, 2 questions."
Hi all,

1. Upon buying it on CodeCanyon, you will be able to download the zip file that contains the complete app template. After you unzip it, you'll need to change to the template folder in your shell and run npm install to fetch all dependencies.

Luis: after running command "npm install" got the following 3 message (at the end), is this correct?

── babel-plugin-transform-remove-console@6.8.4

[2017-07-06 02:08] inspireui commented on #7
Thank you, we will check and update it shortly with the stock management issue

[2017-07-06 02:10] #4 closed

[2017-07-06 02:10] #5 closed

[2017-07-06 04:05] alien3d opened #9 "installation.."
1. i try using npm and yarn install  for android 6.0  keep complain   dex something
2, i try using android 7.0  couldn't delete path  dex\debug\folders\1000\1f

I cannot download the wordpress..
Forbidden
Can't access this page

[2017-07-06 08:28] alien3d commented on #8
have you install react-native via npm ?
npm install react-native
** i buy just now but still can't work on windows. Later at home i try using mac can or not

[2017-07-06 10:36] inspireui commented on #1
Hi, please use: root / 12345678 or user / 12345678

[2017-07-06 11:23] inspireui commented on #8
Hi LuisJorgeAr, please try to install the react-native-cli by this cmd:  npm install react-native-cli -g

[2017-07-06 11:30] inspireui commented on #9
Hi, could you check  your SDK is update the latest and make sure Extra/ Android Support Repository, Google Play Services, Google Repository and Intel x86... are installed like this guide:
https://github.com/devfd/react-native-google-signin/blob/master/android-guide.md

[2017-07-06 12:24] alien3d commented on #9
yea.. been done that and react-native link ..  i will test in mac few hour.. i suspected long name issue.The problem was i'm using windows that time.

[2017-07-06 16:03] inspireui commented on #9
Please try to rename the folder without space " ", there are some issue with RN 0.45 on Dex by the spacing folder naming.

[2017-07-06 22:53] alien3d commented on #9
no space by now.. testing mac error
1. facebook sdk not in the document folder.. done.. okay
2. linker error.....   /Users/name/library/developer/xcode/deriveddata/beostore-sdfsdfsdf/Product/iphonesimulator directory not found..

[2017-07-07 03:44] LuisJorgeAr commented on #8
Hi inspireui,

Tried the command you indicated "npm install react-native-cli -g". However, I am still getting errors, please see the log below:

luis$ npm install react-native-cli -g
npm ERR! Darwin 16.6.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "react-native-cli" "-g"
npm ERR! node v6.11.0
npm ERR! npm  v3.10.10
npm ERR! path ../lib/node_modules/react-native-cli/index.j

[2017-07-07 04:00] alien3d commented on #8
-g for global  ..   yes  i get the same error ..
after your do that then react-native link and react-native run-android or react-native run-ios
I'm still struggle on windows site on mac site still got error..i will post rtf what i done .. in a link wait ya

[2017-07-07 04:12] alien3d commented on #8
you may check at https://facebook.github.io/react-native/docs/getting-started.html
click tab  building project with native code

[2017-07-07 05:33] alien3d commented on #9
Is there any bullet prooved installation like video  in youtube? i'm pretty odd what version react u used  in the video

[2017-07-07 09:33] alien3d commented on #9
using mac .final error mutiple dex files define. lcom/google/android/gms/iid/zzc

[2017-07-09 16:01] Fansis opened #10 "error with install"
hi there,
i try to setup but this is come up with this error. please check and let me know how to fix this thanks
* What went wrong:
Execution failed for task ':app:transformClassesWithDexForDebug'.

[2017-07-10 08:08] chamroeunbm opened #11 "No route was found"
After updating to 3.1, i got this error when pointing to my WooCommerce. i already install JSON API and the other 2 plugin mentioned in the your doc.

https://ibb.co/hvWb7v

But i try version 3.0 and below, it worked fine.

[2017-07-10 09:43] alien3d commented on #9
confirm bugs  on windows stripe
https://github.com/tipsi/tipsi-stripe/issues/56

[2017-07-10 15:09] inspireui commented on #11
Hi, please try with the website on this repos to check the issue, compare with this config - https://github.com/inspireui/mstore/blob/master/Constants.js. Thanks

[2017-07-10 15:12] inspireui commented on #9
Thank you, this could an issue of tipsi-stripe on Window, can i know your Window version and the Android SDK? We may consider to change the tipsi-stripe by
Webview Stripe support. This is work well on Mac for both Android & iOS. In the mean time please disable this library and we will check solution to replace.

[2017-07-10 15:15] inspireui commented on #10
Could i know your Window or Mac? One solution for Dex issue is updated the Android SDK to latest one, and like this config - https://github.com/devfd/react-native-google-signin/blob/master/android-guide.md

[2017-07-10 18:21] alien3d commented on #9
Windows : Windows 10
Android SDK : i just download all em all and update all the latest. Only target 19 to 25 . 16 seem to low and rarely find people use kit kat..  26 android 8.. rather not waste space.
For now , coverage stripe not much i don't use.. For other maybe.

[2017-07-11 08:58] chamroeunbm commented on #11
It worked fine with your website.  And it also used to work with my website when I use the older version of beostore

[2017-07-11 09:48] minhcasi commented on #11
Could you send your website to my email for checking support@inspireui.com. Thank you

[2017-07-11 12:12] chamroeunbm commented on #11
email sent

[2017-07-12 14:26] minhcasi commented on #11
Hi the issue is from the Wordpress setting, please check the Post name option from Setting to enable the Rest API
<img width="403" alt="screen shot 2017-07-12 at 9 24 22 pm" src="https://user-images.githubusercontent.com/1459805/28122497-905c2e9c-6748-11e7-8b97-2d2fee123ba5.png">

[2017-07-13 10:38] ArabAgile opened #12 "Error - product.attributes.length"
Hi,

When first running on Expo, I got this error:

`undefined is not an object (evaluating 'product.attributes.length')`

The response from API is empty array `[]`

This is my first run for the app.

Any idea?

[2017-07-14 00:46] LuisJorgeAr opened #13 "Invalid version: "3.1""
Hello, I hadn't been able to run the app, tried expo but I am getting an error message, please take a look at the attached picture and provide your input.

<img width="1178" alt="invalid version 3 1" src="https://user-images.githubusercontent.com/29908602/28193512-fb720bce-6802-11e7-8d5e-0271ecfe0a0c.png">

Note: I followed the React Native installation steps and was able to create a new project a

[2017-07-14 02:40] inspireui commented on #13
Hi after install the library by: yarn install (or npm install) you may need to restart the expo again

[2017-07-14 06:46] thangvo9x commented on #12
Hi @ArabAgile, you can talk to me , which is your product type, plz ? ( simple, variable...)

[2017-07-14 06:49] thangvo9x commented on #12
Okie. This problem was fixed in mstore version  3.2. We'll upgrade soon !

[2017-07-14 06:52] thangvo9x commented on #13
Hi @LuisJorgeAr , you should restart expo again by press Shift button and click Restart. They was be cleared

[2017-07-14 07:50] mb1kh commented on #11
Same issue(No route was found matching the URL and request method). even if i set Post name as you said, still error.

http://imgur.com/a/bpwWs

Please help

[2017-07-14 14:34] inspireui commented on #11
Hi, please make sure you can access the json from your website setting like from - http://mstore.io/wp-json/wc/v2

So, It could be caused by some other reason:
- The .htaccess or web server setting (rewrite mode)
- The Rest API from WooCommerce is not enable

[2017-07-15 04:07] alien3d commented on #9
![wordpress3](https://user-images.githubusercontent.com/222886/28236325-10080e2c-6956-11e7-8231-8758eb5e5804.png)
We need real database which host at expo or mstore.io not other..

[2017-07-15 04:14] mb1kh commented on #11
Maybe my Wordpress is too old.
My Wordpress v4.5 and Woommerce v2.6.1

What's the minimum requirement?

[2017-07-17 06:40] hazephase commented on #13
I am getting the same errors and I am unable to install yarn also. I get this error when I install yarn

[2017-07-17 06:47] hazephase opened #14 "Unable to install Yarn"
I am unable to install Yarn on mac I am getting a error.

Error: No available formula for yarn
Searching formulae...
Searching taps...

[2017-07-17 07:19] alien3d commented on #14
cd /usr/local/Library/Formula
wget https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/yarn.rb
brew install yarn

[2017-07-17 07:39] hazephase commented on #14
so I should add the yarn.rb file to the folder cd /usr/local/Library/Formula?

[2017-07-17 07:51] hazephase commented on #14
I am getting a -bash: Wget: command not found
error

[2017-07-17 07:57] hazephase commented on #14
I got it fixed by using curl -O in plaec on Wget

[2017-07-17 07:57] #14 closed

[2017-07-17 08:30] alien3d opened #15 "Sharing document: installing on window"
this apply to version 3.1

[Android.pdf](https://github.com/inspireui/mstore/files/1151946/Android.pdf)

[2017-07-17 09:27] inspireui commented on #11
yes, that's the reason as the the Wordpress only support build in Rest API after v4.7, please try to install this plugins: https://wordpress.org/plugins/rest-api/ and some extra plugin base on this guide - https://mstore.gitbooks.io/mstore-manual/content/expo-version/wordpress-installing.html

[2017-07-17 09:45] inspireui commented on #15
Thank you so much for the sharing, we are released new v3.2 and it will be available soon on next 1-2 days.

[2017-07-18 09:54] alien3d commented on #15
success  install v 3.2.1 in weird way using OS X and android.. later will try using Xcode..  later i document everything..

[2017-07-19 02:18] inspireui commented on #2
Hi, i'm closing this ticket as the new v3.2 is more stable and good performance now. Thank you for your feedback.

[2017-07-19 02:18] #2 closed

[2017-07-19 02:18] #1 closed

[2017-07-19 02:19] inspireui commented on #3
Hi, i'm closing this ticket as the new v3.2 is more stable and good performance now. Feel free to reopen again if you still have this issue. Thank you for your feedback

[2017-07-19 02:19] #3 closed

[2017-07-19 02:21] inspireui commented on #6
Hi, i'm closing this ticket as the new v3.2 are fixed all these issues. Please help to open new ticket if there are still issues. Thank you so much for your feedback

[2017-07-19 02:21] #6 closed

[2017-07-19 02:23] inspireui commented on #7
Hi, i'm closing this ticket as the new v3.2 are fixed these issues. Please help to open new ticket if there are still issues. Thank you so much for your feedback

[2017-07-19 02:23] #7 closed

[2017-07-19 02:25] inspireui commented on #8
Close and link to the issues which happen on Window OS #15

[2017-07-19 02:25] #8 closed

[2017-07-19 02:26] inspireui commented on #9
Hi, i'm closing this ticket as the new v3.2 are fixed all these installing issues. Please help to open new ticket or reopen it if there are still issues. Thank you so much for your feedback

[2017-07-19 02:26] #9 closed

[2017-07-19 02:27] inspireui commented on #10
Hi, i'm closing this ticket as the new v3.2 are fixed this installing issues. Please help to open new ticket if there are still issues. Thank you so much for your feedback

[2017-07-19 02:27] #10 closed

[2017-07-19 02:28] inspireui commented on #11
I'm closing this ticket as it was an issue from the Wordpress setting, please reopen it if you still have an issue. Thank you

[2017-07-19 02:28] #11 closed

[2017-07-19 02:29] inspireui commented on #12
Hi, i'm closing this ticket as the new v3.2 are fixed this issue. Please help to open new ticket if there are still issue. Thank you so much for your feedback

[2017-07-19 02:29] #12 closed

[2017-07-19 02:29] inspireui commented on #13
I could you try with new v3.2 update and let me know it still an issue. Thank you!

[2017-07-19 03:29] lwincmm opened #16 "Request features: Play facebook embedded video"
To add to play facebook embedded video
https://developers.facebook.com/docs/plugins/embedded-video-player

[2017-07-19 07:16] HamzaDevZubair commented on #15
**I am getting admob error, I am using latest Mstore 3.2.1 version**

![wdw](https://user-images.githubusercontent.com/27667777/28355096-061d1276-6c7c-11e7-8b0f-03f4d68b2f7e.PNG)

[2017-07-19 07:54] alien3d commented on #15
try yarn remove react-native-admob and then  yarn add react-native.   I yet test the windows version but doing some testing on iOS OS X..

[2017-07-20 05:03] SangramChavan opened #17 "Request features: Multiple store feature"
Multi Wordpress support possible ?

[2017-07-20 07:46] hazephase opened #18 "Product image not showing up"
const ThumbnailSizes = {
    CatalogImages: {
        width: 300,
        height: 360,
    },
    SingleProductImage: {
        width: 600,
        height: 720,
    },
    ProductThumbnails: {
        width: 180,
        height: 216,
    },
};

I used these setting for my WP backend but I am still unable to see the products image. I also used the regenerate thumbnails plugin

[2017-07-20 10:46] alien3d commented on #18
There's a few issue  there
1. Are you using the default image size work ?
2. What platform you try ? OSX +android  ,OSX+iphone or Windows +Android
I'm success on OSX+Android + My Own Server only
iPhone still hassle and seem a lot of code when default render yarn pretty different with current . I'm still learning how Xcode work now..
Will document later iOS version later.. still thinking..

[2017-07-20 11:27] bossanc commented on #18
I have the same problem as you and sent mail to support.
In the picture is reply mail

![img2](https://user-images.githubusercontent.com/6060430/28414899-b1d0a71c-6d77-11e7-94aa-19aa20cb9e18.PNG)

[2017-07-20 15:04] inspireui commented on #17
Hi, it is not support yet, but we will consider as the feature request and check the solution if we can upgrade it. Thank  you for your comment

[2017-07-20 15:05] #13 closed

[2017-07-21 04:53] hazephase commented on #18
@alien3d  Are you using the default image size work ?
Don't know what this means

What platform you try ?
I am using Windows Expo and testing on android

[2017-07-21 05:18] bossanc commented on #18
Hi @hazephase could you try to check the product image URL in you WP.

**Example**
yourdomian.com/wp-content/uploads/2017/07/image.jpg

Mstore GET
yourdomian.com/wp-content/uploads/2017/07/image-300x360.jpg
yourdomian.com/wp-content/uploads/2017/07/image-600x720.jpg
yourdomian.com/wp-content/uploads/2017/07/image-180x216.jpg

If Mstore Get URL not found I think this is the cause of the problem.

[2017-07-21 05:45] hazephase opened #19 "How can I view the app on the WEB"
HI,

  Is there a way to view the app on the web?

[2017-07-21 07:09] hazephase commented on #18
OK, I corrected it, before I it was showing wp.yourdomian.com/wp-content/uploads/2017/07/image-300x360.jpg

[2017-07-21 11:29] hazephase commented on #18
but I am still getting this error

[2017-07-21 14:04] lwincmm opened #20 "Request features: Admob Native Ad"
To add google Admob Native Ad in Home Page,Post details,Categories,Photos and Videos page.
https://support.google.com/admob/answer/6270315?ctx=ui&hl=es

[2017-07-21 16:52] inspireui commented on #19
You can use the tool like - https://appetize.io

[2017-07-21 16:52] #19 closed

[2017-07-21 22:31] Sherif-Magdy opened #21 "Issue with product appearance"
I have an issue where 10 products keep repeating on the home screen as well as within each category screen. At the end of each screen, the same 10 products reappear instead of having the next group of products.

I am also getting this warning message:

- Warning: flattenChildren(...): Encountered two children with the same key. Child keys must be unique; when two children share a key, only the fir

[2017-07-22 02:39] lwincmm opened #22 "Request features: Native Ad for Facebook Audience Network Ad"
To add Native Ad for Facebook Audience Network Ad
https://developers.facebook.com/docs/audience-network/native-ads

[2017-07-22 13:10] inspireui commented on #21
Hi, thank for reporting, we will check this issue and get back to you soon.

[2017-07-22 13:17] pavilion016 opened #23 "_reactNativeAdmob.AdmobInterstitial.setAdUnitID is undefined"
when I run it show red screen and _reactNativeAdmob.AdmobInterstitial.setAdUnitID is undefined

<img width="375" alt="screen shot 2560-07-22 at 8 16 10 pm" src="https://user-images.githubusercontent.com/291803/28491396-d194473a-6f1a-11e7-961f-eaff9a53cf64.png">

[2017-07-22 17:52] hazephase opened #24 "source.uri should not be an empty string"
Hi,

  I get this error on Expo on the right hand side window

[2017-07-22 18:06] hazephase opened #25 "Product Image not showing on the APP"
After installing the new version, the product images are not showing nor are the product details.

[2017-07-23 05:16] xa9 commented on #25
+1

Pls help..!

[2017-07-24 02:44] inspireui commented on #24
Hi, what's the error ?

[2017-07-24 03:06] inspireui commented on #25
Closed as duplicate with #18.

@hazepha please check your email to see the solution
The fixing is just ignore the resize image as your image URL is not work, example hosting/wp-content/uploads/2016/12/IMG_9202-1000x1000.jpg so you can use original image like - host/wp-content/uploads/2016/12/IMG_9202.jpg, by this update on Omni.js
<code>
export const getProductImage = (uri, containerWidth) => {

[2017-07-24 03:06] #25 closed

[2017-07-24 03:07] inspireui commented on #18
Closed as not an issue.

@hazepha please check your email to see the solution
The fixing is just ignore the resize image as your image URL is not work, example hosting/wp-content/uploads/2016/12/IMG_9202-1000x1000.jpg so you can use original image like - host/wp-content/uploads/2016/12/IMG_9202.jpg, by this update on Omni.js
<code>
export const getProductImage = (uri, containerWidth) => {
    retu

[2017-07-24 03:07] #18 closed

[2017-07-24 03:09] inspireui commented on #23
Is it happing on the default constants.js config file, please share your config file to our support email so that we can help to check your case. Thanks

[2017-07-24 03:10] inspireui commented on #24
Please check your email with the solution, kindly open one ticket with same issues as we can see you have created 3 tickets with the same image issues. Thank you!

[2017-07-24 03:10] #24 closed

[2017-07-24 04:09] alien3d commented on #18
@inspireui you shouldn't close yet .. I'm writing long  word and will be post why this bugs occour starting from 0

[2017-07-24 04:12] pavilion016 commented on #23
I did't change anything  in config files.

[2017-07-24 04:31] inspireui commented on #18
Hi @alien3d, we have checked from @hazephase's issue website and figured out from the image setting Wordpress site and response solution to his private email, your case could be other issue, feel free to open other ticket with your resolution that would be great ;)

[2017-07-24 04:53] alien3d opened #26 "Sharing document: Window installing"
I'm a customer not inspireui
I make this step by step because  not a lot of people understand it yet ..

[mstoreProDoc.pdf](https://github.com/inspireui/mstore/files/1168823/mstoreProDoc.pdf)

some previous pdf  i make still valid  but no picture.

[2017-07-24 05:09] inspireui commented on #26
Great tutorial for Window OS, thank you so much @alien3d

[2017-07-24 05:55] xwr870312 opened #27 "Stuck in the payment page"
I have a problem when i tried to pay using Stripe and Paypal: i stuck in the payment page (i should see a thank you page) after i filled out the payment details by Stripe. Paypal just kept kicking me out the app when i choose it as my payment method. Could you please help me with it? Very appreciated!

[2017-07-25 04:23] hazephase commented on #25
`export const getProductImage = (uri, containerWidth) => { return uri;  `  should I take out the full function? or just the one line?

[2017-07-25 05:55] inspireui commented on #25
just return uri, i've sent the attache to your email, pls check

[2017-07-25 08:59] pavilion016 commented on #23
so how can i do ??

[2017-07-25 15:00] inspireui commented on #27
Looks like i have just response to your email, could you help to enable the Debug mode then send us the detail crash issue, please let us know  which Pro or Expo version and your OS ?

[2017-07-25 15:38] inspireui commented on #23
We could not replicate this issue on our Mac Os, could you help to download the latest version v3.2.1 and make a video screenshot ?

[2017-07-25 16:31] pavilion016 commented on #23
3.2.1 of what ?

[2017-07-26 01:16] xwr870312 commented on #27
Thanks for your reply. Just wondering how can i enable the Debug mode? im using Pro version and it's running on IOS.

[2017-07-26 02:12] inspireui commented on #23
Hey sorry, as you raise the ticket in wrong project so we though you have reported for mstore v.3.2, this ticket should be in - https://github.com/inspireui/beonews/issues

[2017-07-26 05:22] pavilion016 commented on #23
sry but you give this link to me in  codecanyon
![chrome_2017-07-26_12-20-49](https://user-images.githubusercontent.com/291803/28605664-168fc58c-71fd-11e7-8149-e61711f83e14.png)

[2017-07-26 06:14] xa9 opened #28 "login page , signup page and checkout page"
hi

if you enter your id and pass app only loading nothing change and you can click the slide your id already login for example the screenshot 👍
![screen shot 2017-07-24 at 6 02 39 pm](https://user-images.githubusercontent.com/29809274/28607019-92d93bfc-71e2-11e7-9bbf-5ad086816f37.png)
![screen shot 2017-07-24 at 6 03 01 pm](https://user-images.githubusercontent.com/29809274/28607020-932b3e16-71e2

[2017-07-26 08:02] inspireui commented on #23
oh, sorry, it's my fail 😭 . Could you help to quick take the video screenshot your issues pls ?

[2017-07-26 11:02] HamzaDevZubair commented on #15
Thanks mate

[2017-07-26 11:42] HamzaDevZubair opened #29 "Multiple Payment gateway"
Hi, I need to know how to add multiple payment gateway options,
I need 2 more gateways , please reply.

[2017-07-26 13:22] xwr870312 commented on #27
Thanks for your reply. I turned on reactotron when i ran the app. And i found this when i stuck in the payment page:

API response
http://meifan.com.au/payment
Status Code
404
Method
POST
Duration (ms)
1425

Do you know how to fix this? BTW, what should i put in for serverURL for stripe in constants.js?
Do you think that's the reason cause this issue?

[2017-07-26 14:37] antoine15 commented on #28
Hi,
Same problem for me for the login page.

[2017-07-26 15:37] inspireui commented on #28
Thank you, looks like it an issue on pro version as we remember to fix it, we will update this UI on next version :)

[2017-07-26 15:38] inspireui commented on #29
Hi you need to check if that payment support via API, if they have already integrated with React Native framework then that would be great, otherwise you need to implement via WebView.

[2017-07-26 15:41] xa9 commented on #28
When the next update is completed?

Can you give me a date

[2017-07-26 15:56] inspireui commented on #28
it's around next week as we are working on other variants issues and checking the coupon features. In the meantime you can reused the same components from the expo version, this could be a quick fix. Thank you

[2017-07-26 16:07] xa9 commented on #28
Ok thanks for feedback

We Use the expo that quick fix .

[2017-07-26 16:14] pavilion016 commented on #23
https://github.com/inspireui/beonews/issues/10

here for my problem video.

[2017-07-27 17:32] MRrnumber opened #30 "cannot get data"
I am getting this error,
Warning: checkPropTypes has been moved to a separate package. Accessing React.checkPropTypes is no longer supported and will be removed completely in React 16. Use the prop-types package on npm instead. (https://fb.me/migrating-from-react-proptypes)

[2017-07-28 03:27] alien3d commented on #30
It's a mess error from updating 15.5 react to react 16. You have to manually changed the npm and never to update .. it's freakin annoying  for dependency management .. Blaim facebook people for changing.

[2017-07-28 05:24] MRrnumber commented on #30
I did not update, the expo apps got updated by itself,

[2017-07-28 07:14] alien3d commented on #30
Yes, i dam annoy with it..

[2017-07-29 00:46] cheekuji opened #31 "Cannot customize to my store."
I have modified the app config files but still the app is not connecting to my store. It does give me consumer key is invalid message. Can you tell me if there is another place to changed URL. I already changed it : Wordpress API from the app config file: src/common/Constants.js  but still I see your store (demo) and products. Please help

[2017-07-29 00:49] cheekuji commented on #31
I am a paid customer so this error is for pro edition.

[2017-07-29 04:41] alien3d commented on #31
you need to revoke it... and create a new one.
https://github.com/inspireui/mstore/issues/26
** i'm not inspireui

[2017-07-29 15:41] inspireui commented on #27
Hi could you check you Paypal setting from your paypal account - https://gyazo.com/c356eba0b495af82bde915a70f3078a2
https://gyazo.com/d60280916700a2347bc9aa5b2070055d

Please also share your video screenshot so i can know understand it clearly. Thank you!

[2017-07-29 16:23] inspireui commented on #30
Hi you can ignore it that warning message, try to use the disableYellowBox or the config ReactotrongConfig.js in the app. We are not suggest to upgrade the current React & React Native version from the app as it will cause some incompatible library issues, we will follow React Native team and upgrade the versions when there are any major upgrade.

Feel free to reopen this issue if you can still ha

[2017-07-29 16:23] #30 closed

[2017-07-29 16:28] inspireui commented on #31
Hi, it could cause some some reason, please check if it's one of your case:
- The Rest API Endpoints can be reachable - your-site/wp-json/wc/v2, example: mstore/wp-json/wc/v2
- Your local Wordpress website your be virual-host or it's release to the domain name (it's not run on localhost as your app could not connect)
- The Permalink Settings from Wordpress should be Post Name.

Thank you

[2017-07-30 02:35] xwr870312 commented on #27
Thanks for your reply.
I already had the same paypal setting like the screenshot you sent to me.
At the moment, there're 2 issues for me:

1. Stuck on the payment page when submit form using Stripe, I got this error on reactotron(see screenshot below)
<img width="646" alt="screen shot 2017-07-30 at 10 26 47 am" src="https://user-images.githubusercontent.com/17407114/28750109-a0ea02f8-7511-11e7-970

[2017-07-30 02:58] xwr870312 commented on #27
@alien3d just wondering how did you setup the Stripe and Paypal, what do i need to do besides constants.js
Very appreciated. I'm new to app development.

Ryan

[2017-07-30 04:14] alien3d commented on #27
@xwr870312  later i try to document all API in here ya.. in pdf.. I do always document thing when i do code.Not remember all language as i work till now.

** not inspireui guys

[2017-07-30 07:42] xwr870312 commented on #27
Awesome! Thanks for doing that. @alien3d
That would be fantastic if it includes Stripe and Paypal setup.

Ryan

[2017-07-31 09:00] nasirdavinci opened #32 "Request features: Please add auction feature and inbuilt webwiew"
I think many people will find it great. Webview is most important feature. You can add auction later but with webview we can add it manually many things in the app.

[2017-08-01 06:24] alien3d commented on #32
I prefer they settle existing bugs rather then publishing new future.. And web view just alternative and shouldn't be primary thing..

[2017-08-01 08:12] xwr870312 commented on #27
Hi @alien3d, just wondering do you have whatsapp or wechat so i can contact you?

Thanks,

Ryan

[2017-08-01 09:01] alien3d commented on #27
Hi got whatsapp @xwr870312  but i'm not sure i can post here.. mostly at https://discordapp.com .. as same alien3d ..

[2017-08-01 09:23] xwr870312 commented on #27
@alien3d I sent you an email last week. Could you please check it?

Ryan

[2017-08-01 09:27] alien3d commented on #27
e-mail ?  which e-mail you send ?  i now only official using admin@idcms.xyz.. hafizanil@gmail.com is rarely i used nowdays.

[2017-08-02 00:52] xwr870312 commented on #27
@inspireui Could you please write a help document for Stripe API? It would be very helpful to setup with a document from developer.

Ryan

[2017-08-02 02:26] inspireui commented on #27
Hi guys, thank you so much for your supporting so far, especially from @alien3d documents, please have a look to this guide https://www.youtube.com/watch?v=6hNz43oTyUA&list=PLcF-HiQy-jOKIwJy97nNmiJGDpgZ0ckaP&index=3 for the payment stuff.

You need to run the StripeServerNode as the node server if you need to process payment with Stripe (required installing on hosting when you release the app), th

[2017-08-02 03:06] xwr870312 commented on #27
@inspireui Thanks for your reply. I will give it a go based on your video today. I pretty much know how to set it up now:) BTW, just wondering how can i install StripeServerNode on server? Using SSH?

Ryan

[2017-08-02 14:44] inspireui commented on #27
Yes, ssh would be good or some hosting provide the terminal inside the browser.

[2017-08-03 01:17] xwr870312 commented on #27
Hi@inspireui @alien3d ,

Yesterday i successfully set up Stripe on IOS, and it ran smoothly. I'm looking for the Node hosting at the moment. If digital ocean is cost effective and easy to setup, i will definitely use it:)
BTW, i couldn't get receipt email/notification email when pay using app. Is this a bug or i didnt setup correctly?

Ryan

[2017-08-03 01:29] alien3d commented on #27
@xwr870312
I'm use  namecheap, it can ssh and their support pretty good .. I before using digital ocean.. Till one time they moved my portlet and  cannot be access for few days..i'm quite using it.. Eventhou they said sorry,i'm kinda scare. Setting manually e-mail on digital ocean kinda a lot of hassle.  I'm not sure either woo commerce create a trigger upon receiving an invoice.

[2017-08-04 08:13] xwr870312 opened #33 "Notification / Receipt Email"
For next update, could you please have a look into notification / receipt email after placing the order using Stripe or Paypal?

Thanks,

Ryan

[2017-08-05 09:49] inspireui commented on #33
Hi Ryan, could you check if your SMTP is all set up ok with the Wordpress, does it send email notification right after the registration or ordering the product ?

[2017-08-05 10:00] inspireui commented on #27
Hi, Linode and Lightsail from amazon is also good in the list.

Hi @xwr870312  could you check the SMTP is set up all correctly ? It could be an issue if only the email from payment not sending.

[2017-08-06 07:47] xwr870312 commented on #33
Hi @inspireui ,

I fixed it. My smtp was using the wrong settings.
Thanks for your help.

Kind regards,

Ryan

[2017-08-07 13:22] Sherif-Magdy commented on #21
@inspireui
Hi, do you have any updates regarding My issue?

[2017-08-08 00:56] xwr870312 commented on #27
Hi @inspireui , i have setup nodejs on Heroku which is pretty good as well.
Now Stripe and Paypal works fine like charm now!
Just wondering are you gonna update the facebook login bug in #28? I have the same issue as well.

Ryan

[2017-08-08 02:11] inspireui commented on #21
Yes, we will update new release on next week to fix this issue and some minor bug fixed. Thank you

[2017-08-08 02:11] inspireui commented on #33
Great Ryan, You are welcome!

[2017-08-08 02:11] #33 closed

[2017-08-08 02:14] inspireui commented on #27
Great job Ryan, please help to give that charm to our rating comment, appreciated for your help.

Regarding to #28, please try to use the same component from Expo and copy to pro version will be fix the issues. We will also update this bug on next release. Thank you!

[2017-08-08 04:00] basechain opened #34 "demo WP site "Invalid timestamp""
images  below:

[http://wx1.sinaimg.cn/large/005HEdDOgy1fic6hgr2m8j30hs0vatba.jpg](http://wx1.sinaimg.cn/large/005HEdDOgy1fic6hgr2m8j30hs0vatba.jpg)
[http://wx3.sinaimg.cn/large/005HEdDOgy1fic6hgj9cdj30hk0vkq4b.jpg](http://wx3.sinaimg.cn/large/005HEdDOgy1fic6hgj9cdj30hk0vkq4b.jpg)

[http://wx2.sinaimg.cn/large/005HEdDOgy1fic6hh2pffj30ke10mzom.jpg](http://wx2.sinaimg.cn/large/005HEdDOgy1fic6hh2pffj

[2017-08-09 03:13] jeemok commented on #28
Hi @inspireui , is there any updates on this issue? :)

[2017-08-09 04:10] Taimoormk opened #35 "Trouble with compiling the builds"
I have added the project file and installed all the required modules by running {npm install} command, but when I am running {react-native run-ios} I am getting this error thrown;

** BUILD FAILED **

The following build commands failed:
	CompileC /Users/taimoorkhan/mstore-pro/ios/build/Build/Intermediates/RCTFBSDK.build/Debug-iphonesimulator/RCTFBSDK.build/Objects-normal/x86_64/RCTFBSDKGraphReque

[2017-08-09 06:22] emiryayla commented on #35
I fixed that like this = download facebook SDK and copy your ˜/Documents folder and Rename  that folder FacebookSDK

[2017-08-09 07:51] Taimoormk commented on #35
Thank you @emiryayla your suggestion worked, cheers.

[2017-08-09 07:51] #35 closed

[2017-08-09 08:12] azamkth opened #36 "error: linker command failed with exit code 1 (use -v to see invocation)"
ld: warning: directory not found for option '-L/Users/xyz/Library/Developer/Xcode/DerivedData/beostore-etbeaamwtiqobffjljdxwchzcgew/Build/Products/Debug-iphonesimulator/Stripe'
ld: library not found for -lStripe

![untitled22222](https://user-images.githubusercontent.com/5824027/29113327-ffa0c548-7cf0-11e7-90f3-498ef858a004.png)

[2017-08-09 16:05] Sherif-Magdy commented on #21
@inspireui
Thank you

[2017-08-10 08:50] Bits101 opened #37 "Theme missing?"
The theme in the app is missing then the theme in the screenshots. Can you tell me where can I find the screenshot theme in your code.

The one I have, has the options underneath but the screenshot ones actually have them in tabs in the frontend. Also where can I find the homepage/category page where all the main categories are in the app.

i.e the first picture in your demo screenshots “Features

[2017-08-13 01:26] inspireui commented on #34
Hi, this is cause by the wrong file config, could you attache your site config or send to our support email: suppor@inspireui.com. Thank you

[2017-08-13 01:27] inspireui commented on #36
Can you run this cmd to check if the issue is fixed: react-native link

[2017-08-13 01:39] inspireui commented on #37
Hi, we have updated the screenshot

[2017-08-14 06:14] Bits101 commented on #37
Hi,

I am not getting the below theme structure when I go to the product page and I am unable to see the homepage where all the categories are. Is this theme missing or is it a setting?

![687474703a2f2f6d73746f72652e696f2f77702d636f6e74656e742f75706c6f6164732f323031372f30362f62616e6e65722e706e67](https://user-images.githubusercontent.com/17542308/29260174-dd63abba-80d0-11e7-860d-5578735d8efc.png)

[2017-08-15 08:52] jlsupport opened #38 "Build fails in IOS"
Hi,

i´m getting this:

** BUILD FAILED **

The following build commands failed:
	CompileC /Users/lars/Desktop/mstore.3.2.1/mstore-pro/ios/build/Build/Intermediates/TPSStripe.build/Debug-iphonesimulator/TPSStripe.build/Objects-normal/x86_64/TPSCardField.o TPSStripe/TPSCardField.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler
(1 failure)

Installing build/Build/Products/Debu

[2017-08-15 13:40] inspireui commented on #37
Hi, it could be your setting issues, could you please also share your screenshot ?

[2017-08-15 14:28] inspireui commented on #38
Could you try to remove node_module and try these command line:
[code]

[2017-08-16 19:26] jlsupport commented on #38
react-native link gives below error:

rnpm-install info Linking react-native-fbsdk ios dependency
rnpm-install ERR! Something went wrong while linking. Error: Expected "/*", "//", or "{" but "<" found.
Please file an issue here: https://github.com/facebook/react-native/issues

But still not work, same error

[2017-08-17 00:29] inspireui commented on #38
Hi @jlsupport this issue from latest version of react-native-fbsdk, please try to remove and link it with v0.6.0:

[code]

[2017-08-18 10:37] jeemok opened #39 "Failed in Facebook login"
Hi @inspireui,

I'm setting up mstore on `mstore-expo` version, everything was good and I was trying to update the Facebook login app to my facebook app.

So I changed the `appFacebookId ` from `common/Constants.js` and tried to login, but got the error below:

`You are not logged in: You are not logged in:. please login and try again`

Is there any other steps/config I should setup?

[2017-08-20 07:51] chandshah opened #40 "App Build is successful but getting error kindly check the attachment."
![app error](https://user-images.githubusercontent.com/31177480/29493005-303d1a28-85aa-11e7-94ff-4cc61bedac99.png)

[2017-08-20 15:30] inspireui commented on #40
Hi can we check if it is ok if you run the testing project via:
`
react-native init ExampleProject
cd ExampleProject
react-native run-android
`

[2017-08-20 15:33] inspireui commented on #39
Hi, could check to update the Facebook config base on guide from - https://mstore.gitbooks.io/mstore-manual/content/chapter4.html

You need to change the Info.plist as well

[2017-08-20 17:39] wmirchi commented on #40
Hello,

I'm getting following error

E:\App Devlopment\mStore\mstore\mstore-pro>yarn
yarn install v0.27.5
[1/4] Resolving packages...
success Already up-to-date.
Done in 5.59s.

E:\App Devlopment\mStore\mstore\mstore-pro>react-native init ExampleProject
Scanning 605 folders for symlinks in E:\App Devlopment\mStore\mstore\mstore-pro\node_modules (193ms)
Looks like React Native project already exist

[2017-08-20 17:58] wmirchi commented on #40
Hello,

after renaming the old react-native i can able to do this
Now I'm getting following error

======

E:\App Devlopment\mStore\mstore\mstore-pro\ExampleProject>react-native run-android
Scanning 474 folders for symlinks in E:\App Devlopment\mStore\mstore\mstore-pro\ExampleProject\node_modules (76ms)
JS server already running.
Building and installing the app on the device (cd android && gradlew

[2017-08-21 01:40] jeemok commented on #39
Sorry if I didn't get it right, but isn't that guide was for `mstore-pro` version ?

[2017-08-21 09:11] masoudkhademi opened #41 "paypal and stripe"
it is about for days that i am trying to run the app but when i run this command "react-native run-android" some error occurs , and when i solve it and run the command again another error will occur . so i get confused . now the error is "    a problem occurred configuring project ': tipsi-stripe' . while i don't need stripe and paypal . i want to delete stripe and pay pal from the app  . please h

[2017-08-21 13:01] mkarimi1986 opened #42 "RTL Problem"
The new language will add to project successfully after following the instructions, but after performing the RTL instructions the side menu flip to the right but the elements inside menu remain left to right.
and the translation works fine in application, but RTL not.

[2017-08-21 19:50] #42 closed

[2017-08-22 15:08] minhcasi commented on #40
Hi, please test the ExampleProject from outside the mstore project as it will conflict with the library.

The purpose of checking example project is just make sure your have set up all requirement for React Native framework, if you have check it all good and can run on your simulator then you can go to Mstore project and run the same steps.

Thank you!

[2017-08-22 15:10] cheekuji opened #43 "undefined is not an obect(evaliating 'user.shipping.address_1')"
I cannot launch the app anymore I get this red screen with the above message. Please help. This is for pro version.

[2017-08-22 15:13] minhcasi commented on #39
Oh sorry, it's for pro version, please check this document to setting your facebook app first - https://docs.expo.io/versions/latest/sdk/facebook.html, make sure the bundle ID and key hash is the same. Let me know your checking then.

[2017-08-22 15:16] minhcasi commented on #41
Hi, please try to remove the component by these cmd:

react-native unlink tipsi-stripe
yarn remove tipsi-stripe

react-native unlink react-native-fbsdk
yarn remove react-native-fbsdk

Then, try to search the component that import these library or unlink the component that using its library, it will be the "SignIn" container and "Payment" components.

[2017-08-23 03:58] masoudkhademi commented on #41
hi , thank you for previous answer it helped me. now when i run the app , an error like below accurs . i need your help . thank you again.

:react-native-onesignal:bundleRelease UP-TO-DATE
:react-native-restart:preBuild UP-TO-DATE
:react-native-restart:preReleaseBuild UP-TO-DATE
:react-native-restart:checkReleaseManifest
:react-native-restart:preDebugAndroidTestBuild UP-TO-DATE
:react-native-resta

[2017-08-24 07:32] #40 closed

[2017-08-24 08:16] masoudkhademi commented on #41
hi there is an error that tells me "illegal start of expression " please help me.

:app:processDebugManifest UP-TO-DATE
:app:proc
:app:compileDebugJavaWithJavac - is not incremental (e.g. outputs have changed,
no previous execution, etc.).
C:\Users\masoud\sofs\mstore.3.2.1\mstore-pro\android\app\src\main\java\com\beost
ore\MainApplication.java:50: error: illegal start of expression
      );

[2017-08-24 08:23] inspireui commented on #41
Hi could you help to have a look to this issue #15 which could be the same with your case (on Window OS)

And could you run the example project from RN success?
(go to other folder or temp)
react-native init exampleProject
cd exampleProject
react-native run-android

[2017-08-24 13:01] haysamelmasry opened #44 "every time i build the app by android studio i get this red screen error"
unable to load script from assets ïndex.android.bundle'. make sure your bundle is packaged correctly or you're running a package server.
like this pic
![screenshot_20170824-145617](https://user-images.githubusercontent.com/7470531/29667486-e11c3f92-88dc-11e7-91b2-d27b405c1801.png)

i need to make apk build for real phone not simulator

[2017-08-24 18:14] jlsupport commented on #38
still getting this error:
The following build commands failed:

	CompileC /Documents/mstore.3.2.1/mstore-pro/ios/build/Build/Intermediates/TPSStripe.build/Debug-iphonesimulator/TPSStripe.build/Objects-normal/x86_64/TPSCardField.o TPSStripe/TPSCardField.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler
(1 failure)

[2017-08-25 02:46] inspireui commented on #43
Hi, could you share your WooCommerce URL and consumse key so we can help to have a look (you can send to our support email support@inspireui.com)

[2017-08-25 02:47] inspireui commented on #44
Hi, how about to run the app via cmd?
react-native run-android

[2017-08-25 04:56] masoudkhademi commented on #41
Hi , now i ran app successfully . but when i want to run it by android studio(genymotion) , one error occurs and i cant run it . the error is "	NullPointerException: Unexpected exception during symbol building (rebuildModuleMaps)" . thank you for your help . what configurations i should do for running app in android studio ?

[2017-08-25 07:41] cheekuji commented on #43
The default store url:
url: 'http://mstore.io',
    consumerKey: 'ck_b7594bc4391db4b56c635fe6da1072a53ca4535a',
    consumerSecret: 'cs_980b9edb120e15bd2a8b668cacc734f7eca0ba40',

[2017-08-26 09:14] Vrijlating opened #45 "Problem with store configuration"
Hello,
i have a problem with a configuration for my app, I have try to follow the guide step by step, but I have encountered some problem.
First of all, just I download the project  for me is impossible to build the app with xcode because appear messages of error from Xcode and is impossible to test it, you can see it on the screen:
<img width="1440" alt="schermata 2017-08-26 alle 11 14 04" src="h

[2017-08-26 12:29] prostata84 opened #46 "draw over other apps"
When I start my app (generated by Android Studio), the "draw over other apps" comes out. How do I delete this alert? What should I change in my project?

[2017-08-26 13:11] prostata84 opened #47 ""Contact us" page"
How do you edit the "Contact us" page in the android app? I use Android Studio. Thank you.

[2017-08-26 16:45] Sherif-Magdy commented on #21
Hi @inspireui , iam still waiting to resolve this issue iam having with the app. when will the update be released?

[2017-08-27 00:57] xa9 commented on #28
Hi @inspireui , When the next update is completed?

[2017-08-27 14:18] deenoize opened #48 "Problem with attributes on custom woocommerce installation"
Hey, guys! I have already working website [taboo.world](https://taboo.world/shop) and there are a couple of variants as well as attributes of each product. After pointing Mstore to it Build is successful and everything starts but after welcome page I get
`null is not an object (evaluating variation.attributes)`

How can I handle this?

[2017-08-28 04:03] jeemok commented on #44
@haysamelmasry maybe you can try to start `react-native start` in a new terminal to start your packager server, and try to run your app.

or another way would be generate all the static files to your assets folder, run:
`react-native bundle --platform android --dev false --entry-file index.android.js --bundle-output android/app/src/main/assets/index.android.bundle --sourcemap-output android/app/sr

[2017-08-28 07:51] jeemok opened #49 "Couldn't receive Phone & Address information in WooCommerce"
Hi,

I am building the App using Expo version and tested an order with real payment using PayPal. Everything was working good, except that in the WooCommerce, the Phone and Address field failed to capture the information I wrote from the app. Is it a known issue?

Other features were great to use!

Thanks,
Mok

[2017-08-28 14:42] minhcasi commented on #38
Hi, could you try to have a look to this document from stripe lib to reinstall this libary - https://github.com/tipsi/tipsi-stripe

Or you can try to run: react-native link tipsi-stripe

[2017-08-28 14:46] minhcasi commented on #41
Hi please try to remove the node_module folder and run following cmd (without using Android Studio):
- yarn install
- yarn start --reset-cache
- react-native link
- react-native run-android

Please make sure your have run these script from the fresh install package (not try to upgrade the grade from Android studio for this project and the current React Native framework is still using v0.23)

Thank

[2017-08-28 14:49] inspireui commented on #43
Hi, we update this issue and bug and will fix on next couple of days. Thank you!

[2017-08-28 15:06] inspireui commented on #45
Hi, could you help to press the warning icon to send us the detail error log ?

You can run the app without XCode by using this cmd:
- yarn install
- react-native run-ios

Thank you!

[2017-08-28 15:07] inspireui commented on #46
Hi, you can try to turn on the option then restart the app again, this is normal behavior on Android OS. Thank you

[2017-08-28 15:09] inspireui commented on #47
Hi, you can edit it direct from the Wordpress page, from the constants.js file there is the config the contact page which is used to map to the post id from wordpress.

[2017-08-28 15:11] inspireui commented on #21
Hi @Sherif-Magdy sorry for the delay as we have some issue with the resource, we are set it as higher priority and fixing it on around this week. Thank you!

[2017-08-28 15:19] inspireui commented on #28
Hi, we are working on this issue, we have plan to upgrade new bug fix on around this wee, sorry for the delay as we have some issue with other release projects.

[2017-08-28 15:22] inspireui commented on #48
Hi, thank you for your feedback, we are checking the solution to handle the variant more flexible, this bug fix will be updated on next version (around 1-2 week)

[2017-08-28 15:25] inspireui commented on #49
This could release to this issue - #43, i'm updating it as bug

[2017-08-28 16:20] prostata84 commented on #46
Thanks, I know it's a normal behavior. I wanted to know if you can delete this behavior by modifying the application code. I would like this behavior never to happen. Thanks again.

[2017-08-29 03:04] jeemok commented on #47
@prostata84 after you publish a new page in WooCommerce, you may get the page id from the URL, eg:
yourwebsite.com/wp-admin/post.php?post=**476**&action=edit

Then you can use it to update the `contact_id `in /constants.js

![screenshot_3](https://user-images.githubusercontent.com/26216852/29802713-b083ad40-8ca9-11e7-8a74-c5e894200e39.png)

[2017-08-29 09:37] Vrijlating commented on #45
Hello,
this is what happened when I try to run from react native
<img width="1440" alt="schermata 2017-08-29 alle 11 37 20" src="https://user-images.githubusercontent.com/31366135/29814671-74eeeaba-8cae-11e7-96a6-d72c61d03465.png">

[2017-08-30 06:44] masoudkhademi commented on #41
Hi , when i open the app i see the shop , but i want to see categories when i open the app like the demo app . please help me.

[2017-08-30 06:48] masoudkhademi commented on #41
the othe problem is this : shop doesn't contain my products , it contains the demo app products, while non of shop pictures are in my host.

[2017-08-30 07:56] masoudkhademi commented on #41
how can i change the currency in app ?

[2017-08-30 08:18] masoudkhademi commented on #41
i have activated RTL , but in the sidemenu , icons are in the left side of words , how can i put theme in the right side of words ?

[2017-08-30 10:35] masoudkhademi commented on #41
how can i change the logo and app's name ? i can't find anything in the wordpress ...

[2017-08-31 03:21] masoudkhademi commented on #41
i have translated the file language.js but login page didn't change . how i can translate it?

[2017-09-01 04:51] inspireui commented on #46
Hi, once you release the app without the debug mode, it will work as normal

[2017-09-03 02:54] masoudkhademi commented on #49
hi , this is my problem too , every thing works ok , but the phone number and address failed to capture  and actually woocommerce can't capture the information that we enter in the "yourdeliveryinfo" field.

[2017-09-03 02:59] masoudkhademi opened #50 "woocommerce"
hi , i have install the app successfully , but when i have tested the app, the phone number and address failed to capture .

[2017-09-03 03:26] masoudkhademi commented on #50
and how i can update my app?

[2017-09-03 22:17] Careieste commented on #44
I have the same problem with Beonews.
react-native run-android command run successfuly, but when I try to install on phone the generated apk file then I have the error from the image from first comment on this topic.
I want to publish the app on Google play.
Please help me with that.
Thank you!

[2017-09-04 03:08] inspireui commented on #45
Hi could you try this script to see if can be fixed: https://gist.github.com/inspireui/00e6f757c137b289c090173367c27af9

[2017-09-04 09:31] Vrijlating commented on #45
Hello,
unfortunately now appear another error:

Error: spawnSync /Users/Dario/Downloads/mstore.3.2.1/mstore-pro/node_modules/react-native/local-cli/setup_env.sh EACCES
    at exports._errnoException (util.js:1020:11)
    at spawnSync (child_process.js:450:20)
    at Object.execFileSync (child_process.js:487:13)
    at Object.run (/Users/Dario/Downloads/mstore.3.2.1/mstore-pro/node_modules/react-na

[2017-09-04 15:55] #41 closed

[2017-09-04 16:36] masoudkhademi opened #51 "product apereance"
when i use sale price for products in woocommerce , the app just shows one price and the regular price goes out of screen .you can see the screen shot in the this link :
http://sofs.ir/wp-content/uploads/2017/09/Screenshot_2017-09-04-20-39-52.png

[2017-09-05 03:09] jeemok commented on #49
@masoudkhademi here's what I did to add the information to WooCommerce. It's just a quick fix for now and we should update it when inspireui updates the file. You may refer to my solution if you need a quick fix urgently:

1.	At (/src/containers/Cart/Delivery/index.js) line 47
Change `this.props.onNext()` to `this.props.onNext(this.customerInfo)`

2.	At (/src/containers/Cart/index.js)
Create a new

[2017-09-05 10:45] abhishekdhiman095 commented on #49
is some step missing,
beacause its showing errors on changing it.

[2017-09-05 15:52] inspireui commented on #50
Hi the missing billing address is related to this #43, please follow this issue for next release bug fix, i'm losing this ticket as it is duplicate issues. Thank you

[2017-09-05 15:52] #50 closed

[2017-09-05 16:01] inspireui commented on #45
hi this error log is not a root cause, could you show your xcode red warning message ?

[2017-09-05 16:04] Vrijlating commented on #45
Hello,
I send you a screen of xcode

[2017-09-05 16:12] inspireui commented on #51
I see, it because your language is to long and also the number, please try to format that component to enter new line for update the font smaller. Thank you!

[2017-09-05 16:31] inspireui commented on #45
Hi, i can not see the attach from your comment, please upload it again

[2017-09-05 16:46] Vrijlating commented on #45
Hello,
tell me if you can see it now

2017-09-05 18:31 GMT+02:00 InspireUI <notifications@github.com>:

[2017-09-06 01:36] inspireui commented on #45
Hi, this is what i can see - https://gyazo.com/cf1f531f20a5472239fe03d9bd81fb1e, please try to update it to cloud and share your URL

[2017-09-06 07:44] Vrijlating commented on #45
Hello, i have upload it on image hosting site: https://ibb.co/c7Xvya

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Mail
priva di virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2017-09-06 3:36 GMT+02:00 InspireU

[2017-09-06 07:48] inspireui commented on #45
alright, i've got the issue, please try with this cmd: pwd

It will print your current project path, please make sure is does not content any space " ", if yes please move the project folder to the new one which is not content space. This is an issue from React Native library (they have fixed on latest version).

[2017-09-06 07:53] Vrijlating commented on #45
I have try it now and unfortunately is not my case, I have copied here the
terminal text and the path don't have space

MBP-di-Dario:mstore-pro Dario$ pwd

/Users/Dario/Downloads/mstore.3.2-3.1/mstore-pro

MBP-di-Dario:mstore-pro Dario$

2017-09-06 9:48 GMT+02:00 InspireUI <notifications@github.com>:

[2017-09-06 07:59] inspireui commented on #45
Could you have a look to this guide - https://medium.com/@jjerryhan/handling-third-party-build-error-on-react-native-0-46x-445f867e7a2b

Try these cmd

[2017-09-06 08:03] Vrijlating commented on #45
This is what appear:
1 error generated.

** BUILD FAILED **

The following build commands failed:
	CompileC /Users/Dario/Downloads/mstore.3.2-3.1/mstore-pro/ios/build/Build/Intermediates/RCTFBSDK.build/Debug-iphonesimulator/RCTFBSDK.build/Objects-normal/x86_64/RCTFBSDKInitializer.o RCTFBSDK/core/RCTFBSDKInitializer.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler

(1 failure

[2017-09-06 08:06] inspireui commented on #45
Hi look like you have missing the facebook SDK as the guide - https://mstore.gitbooks.io/mstore-manual/content/chapter1.html

"For iOS, you need to download the FacebookSDK(https://origincache.facebook.com/developers/resources/?id=facebook-ios-sdk-current.zip) and copy to ~/Documents/FacebookSDK."

[2017-09-06 08:10] haysamelmasry commented on #44
I run the app via cmd and the app works fine but how can I build it via cmd ?

[2017-09-06 08:12] Vrijlating commented on #45
Hello,
Thank you very much, pratically I has just placed the Facebook SDK in documents, but is necessary also to rename it, I have forgot this, thank you very much, now the demo start, I will try to update with my data, I will send you an email if I find other difficulties, thank you for patience and support

[2017-09-06 08:14] inspireui commented on #45
Great, i'm glad that it was help, sorry for the unclear document, i will highlight the FacebookSDK.

Please help us to give a rating from http://codecanyon.net/downloads and let us know if you have any further support. Thank you!

[2017-09-06 09:34] victorhwtan opened #52 "WooCommerce Rest API on "products/categories" Isn't Displaying All Categories"
I have more than 10 categories created in Woocommerce, and why there are only less than 10 is shown?
I think the per_page: 100 below isn't working, because I can get more than 10 categories on postman with the following api "wp-json/wc/v2/products/categories?per_page=100".

[code]

Thanks.

[2017-09-06 09:39] jeemok commented on #49
I just reroute a new handling for delivery info, what are the errors shown on your side?

[2017-09-06 10:15] abhishekdhiman095 commented on #49
Actually i had mstore pro version,now working fine
 Thank you for replying

[2017-09-06 15:31] Vrijlating commented on #45
Hello,
unfortunately I am new here.
I have proceed to customize the app, but I have encountered some problem.
First of all I have make a new Wordpress installation only for test, so
there are only one article and one wocommerce product.
I have edited the constants.js and I think no problem in this.
When I launch the app there is some problem:

First of all you can see here:
https://ibb.co/iqGaya
I

[2017-09-07 18:02] #52 closed

[2017-09-08 07:14] Vrijlating commented on #45
Hello,
unfortunately I am new here.
I have proceed to customize the app, but I have encountered some problem.
First of all I have make a new Wordpress installation only for test, so there are only one article and one wocommerce product.
I have edited the constants.js and I think no problem in this.
When I launch the app there is some problem:

First of all you can see here:
https://ibb.co/iqGaya
I

[2017-09-08 07:35] masoudkhademi opened #53 "icons are hidden when i reopen the app after some hours"
i have installed the app many times ,but after some hours that i reopen the app , icons of tab bar are hidden . here is the screenshot:
http://sofs.ir/wp-content/uploads/2017/09/photo_2017-09-08_11-58-06.jpg

[2017-09-09 07:36] masoudkhademi opened #54 "back icon doesn't work properly... while every thing is ok at demo app"
when i am in the product page , and touch back icon, it goes back two step .. when i touch back , it must go to its category screen such as demo app , but now it goes to home screen ... while in the demo app there is none of this problems ... is it possible for me to have demo app's theme?

[2017-09-11 02:18] inspireui commented on #54
Hi, it is the same code base with the demo app, could you let me know which the version you are using to test, pro or Expo version ? Thank you!

[2017-09-11 02:19] inspireui commented on #53
Hi Could you let me know which Android version that you are using to test, please make sure your Android SDK should be the same with this installing guide - https://gyazo.com/5cc342b4111f066b3ba19b594c644e95

[2017-09-11 02:32] inspireui commented on #45
Sorry for lated response:

#1 - From the Constants.js file, there is the config "tagIdBanner" which is use to config the tag id for the banner on the homepage.

#2 - please try the related issue here for setting up the image - https://github.com/inspireui/mstore/issues/18 and the product display size guide - https://mstore.gitbooks.io/mstore-manual/content/chapter5.html

#3. Could be the network i

[2017-09-12 19:14] f0rtun3 opened #55 "compatibility"
I recently bought the Mstore template,
I cant seem to get it running on my expo, here are the versions of tools I'm using.
React Native 0.46.1
Expo version 20.0.0
Node.js v6.11.2

Username: f0rtun3
purchase code: b1582a68-9ff7-445d-9de0-4add50221270

[2017-09-13 21:23] deenoize commented on #48
Hey, guys! Any luck with this one? @inspireui

[2017-09-14 07:09] inspireui commented on #48
Hi, this is really a complexity function and it took us longer time than expect but i've already resolve it and will be update the new version on this week. Thank you for your patient !

[2017-09-14 08:17] deenoize commented on #48
Appreciate it! Thanks!

[2017-09-14 13:45] mustymx opened #56 "¿Why products appear repeated in different categories?"
¿Why products appear repeated? for example: in a category I only have one product in woocommerce, however in the app show product many times

[2017-09-14 13:51] mustymx commented on #21
Hi @Sherif-Magdy, I have the same problem, have you solved it?

[2017-09-14 14:57] inspireui commented on #56
Hi could you help to send your constants config file to our support email: support@inspireui.com so that we can check the duplicate issue on category page, if it is a bug we will fix on next version. Thank you!

[2017-09-15 00:48] inspireui commented on #21
Hi, it could be related to the local storage issues, please try with: Simulator/Reset content and settings to reset the local data and test it again.

If you still have and issue on your website please share your Constants file to our support email support@inspireui.com. We will help to have a check. Thank you!

[2017-09-16 05:33] haysamelmasry opened #57 "the images dons't show on the app"
hi
i have 3 problems

1 - the product images doesn't show on the app
2- the checkout page on delivery section doesn't have enough info like the demo app on play store like country postcode etc..
3- the login page doesn't redirect after i login it just stay on the same page

[2017-09-17 16:49] Sherif-Magdy commented on #21
Hi @mustymx, no I have not resolved the issue yet but if you find a solution or have any updates please let me know.

[2017-09-18 07:44] iva-kz commented on #21
Hi @inspireui, I have the same issue with products not updating. Do we have to expect a new version soon?

[2017-09-21 02:57] inspireui commented on #21
we're going to release the product today, you can check the demo of new version from - https://expo.io/@minhcasi/mstore

[2017-09-21 03:53] GoldAndLink commented on #28
@xa9 and @antoine15 did you try to uncomment this part in the mstore-pro ?

`componentWillReceiveProps(props) {
    const {user} = props.user;
    if (user) {
      this.props.onViewHomeScreen();
    }
  }`
It works for me

[2017-09-22 00:54] inspireui commented on #57
Hi please check the #1 by config "Product Display Sizes"- https://mstore.gitbooks.io/mstore-manual/content/chapter5.html

The issue 2-3 will be fixed on v3.3, you will get the notify to download the new version soon, we have already upload the package.

Thank you!

[2017-09-22 00:55] inspireui commented on #56
Hi, confirmed that this issue will be fix on v3.3, this is already released and you will get the notify email to download soon. Thank you!

[2017-09-22 00:55] #56 closed

[2017-09-22 13:36] mustymx commented on #21
in this demo the keyboard does not respond properly, cover the form fields. or maybe the scrollview function does not work on the forms (login, checkout, etc.)

[2017-09-22 23:57] brainonline-ro opened #58 "Cannot build"
I would like to convert the store www.shop.meatbox.ro into an iOS application, is WordPress with WooCommerce, is there an option to download through the AppStore? I am interested in extracting the products from the website and exporting them in the mobile application, with pictures, details and the ability to buy the products displayed on the shop.

I bought Envato’s BeoStore, please help me confi

[2017-09-22 23:57] brainonline-ro commented on #58
I will pay if you help me to configure.

[2017-09-23 23:03] inspireui commented on #49
i'm closing ticket issue as it is fixed on v3.3, kindly reopen it you still have an issue. Thank you!

[2017-09-23 23:03] #49 closed

[2017-09-23 23:03] inspireui commented on #48
i'm closing ticket issue as it is fixed on v3.3, kindly reopen it you still have an issue. Thank you!

[2017-09-23 23:03] #48 closed

[2017-09-23 23:03] inspireui commented on #43
i'm closing ticket issue as it is fixed on v3.3, kindly reopen it you still have an issue. Thank you!

[2017-09-23 23:03] #43 closed

[2017-09-23 23:05] inspireui commented on #54
i'm closing ticket issue as it is fixed on v3.3, kindly reopen it you still have an issue. Thank you!

[2017-09-23 23:05] #54 closed

[2017-09-23 23:06] inspireui commented on #55
i've released new v3.3 which is support latest Expo version update, please download and test it again. Thank you!

[2017-09-23 23:06] #55 closed

[2017-09-23 23:07] #51 closed

[2017-09-23 23:07] inspireui commented on #47
i'm closing ticket issue, kindly reopen it you still have an issue. Thank you!

[2017-09-23 23:07] #47 closed

[2017-09-23 23:08] inspireui commented on #46
i'm closing ticket, kindly reopen it you still have an issue. Thank you!

[2017-09-23 23:08] #46 closed

[2017-09-24 03:37] inspireui commented on #58
Hi, thank you for your purchased and comment on github, please send us your Skype ID to our support email support@inspireui.com for further discussion. Thank you!

[2017-09-24 03:37] #58 closed

[2017-09-24 03:56] inspireui commented on #21
Hi @mustymx can i know your device testing, it is iOs or Android OS ?

[2017-09-24 04:12] inspireui commented on #21
Hi @Sherif-Magdy could you check if this issue is fixed on v3.3, kindly close if you are happy with the fix. Thank you!

[2017-09-24 04:13] inspireui commented on #28
Hi @xa9 could you try with new v3.3 to see if you are happy with the fix. Thank you!

[2017-09-24 07:55] deenoize commented on #48
Thanks guys! Will check it in a few days

[2017-09-24 21:35] mustymx opened #59 "Issues (or bugs) with Price and BuyNow Button"
<a href="https://imgur.com/dZMoOgv"><img src="https://i.imgur.com/dZMoOgv.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/5vBp8vE"><img src="https://i.imgur.com/5vBp8vE.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/xYje0TC"><img src="https://i.imgur.com/xYje0TC.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/SKswZ5V"><img src="https://i.imgur.co

[2017-09-25 07:57] emiryayla opened #60 "api response 404,401"
http://greentous.com/wp-json/wc/v2/products/1/variations?oauth_consumer_key=ck_3444b9c889b68ad0b1b0622445d4e8f616637d4b&oauth_nonce=KFbh62fW9jKhmLo57iiPR00FUKoSI6RE&oauth_signature_method=HMAC-SHA256&oauth_timestamp=1506325763&oauth_version=1.0&per_page=100&page=1&oauth_signature=z6EnRt08sobdoZn%2BTpY6ot814rMuOlxcxZFK9RaOEaY%3D

Status Code
401
Method
GET
Duration (ms)
663.9139720015228
----------

[2017-09-25 22:33] inspireui commented on #59
Thank you for your detail screenshot, we will have a check and update the hotifx soon if it is an issues

[2017-09-26 00:50] mustymx commented on #59
"Soon" is a very abstract time form, give me a date time, please.
I already paid for a product to help me save time and not start a project from scratch.
Please fix it real soon.

[2017-09-26 02:22] inspireui commented on #59
Hi, it's around 1-2 days for the hotfix. Thank you!

[2017-09-26 03:25] inspireui commented on #60
can you check the setting/permalink is Post name? like this screenshot - https://gyazo.com/4c82dcf2b5236ca986d9abc40204b794

[2017-09-26 08:32] inspireui commented on #59
Hi, can we know your email to send the hotfix please?

[2017-09-26 12:06] mustymx commented on #59
mustymx@hotmail.com
thanks!

[2017-09-26 14:42] inspireui commented on #59
Confirmed this will be fixed on v3.3.1 which will notify in 1-2 days, if you can't wait please send your request download to our support email support@inspireui.com (with your purchased code). Thank you!

[2017-09-26 14:43] inspireui commented on #28
Confirmed this

[2017-09-26 14:43] #28 closed

[2017-09-26 14:44] #21 closed

[2017-09-26 17:08] karim-aly opened #61 "Can't build ios version"
Error Log:

The following commands produced analyzer issues:
	Analyze /Users/karimaly/Workspace/ReactNativeWorkspace/mstore-pro-3.2/node_modules/react-native/ReactCommon/yoga/yoga/YGNodeList.c
	Analyze /Users/karimaly/Workspace/ReactNativeWorkspace/mstore-pro-3.2/node_modules/react-native/ReactCommon/yoga/yoga/Yoga.c

(2 commands with analyzer issues)

The following build commands failed:
	Compile

[2017-09-27 00:43] inspireui commented on #59
Hi @mustymx could you check the latest package and happy to close this ticket ?

[2017-09-27 00:46] #27 closed

[2017-09-27 00:46] #29 closed

[2017-09-27 00:47] #31 closed

[2017-09-27 00:48] inspireui commented on #34
Please download the latest version v3.3.1 which is more stable and cover this issue. Thank you!

[2017-09-27 00:48] #34 closed

[2017-09-27 00:52] #36 closed

[2017-09-27 00:52] #37 closed

[2017-09-27 00:53] inspireui commented on #38
Hi, could you download the latest version v3.3.1 to see if it is fixed your issue? we are happy to remote support if you are still trouble. Thank you!

[2017-09-27 00:56] inspireui commented on #39
Hi @jeemok, i'm losing this ticket as it looks resolved, fell free to reopen if you still have trouble with it. Thank you very much for your support!

[2017-09-27 00:56] #39 closed

[2017-09-27 00:57] inspireui commented on #44
Hi @haysamelmasry, could you check if the issue is fixed on latest version, please help to close the ticket if you have resolved the issue. Thank you!

[2017-09-27 00:59] inspireui commented on #45
Hi @Vrijlating could you help to check if you are happy to close this ticket, please also upgrade new v3.3.1 with latest build and hotfix. Thank you!

[2017-09-27 01:00] inspireui commented on #53
Hi @masoudkhademi could you check to see if this issue is still happening on latest build v3.3.1. Thank you!

[2017-09-27 01:01] inspireui commented on #57
Hi, i'm closing this issue as it is fixed on latest version v3.3.1. Thank you!

[2017-09-27 01:01] #57 closed

[2017-09-27 01:04] inspireui commented on #61
Hi, could you try this scrip to clean the cache  - https://gist.github.com/inspireui/00e6f757c137b289c090173367c27af9

Then try to run this cmd: react-native link

And let us know your checking. Thank you!

[2017-09-27 09:07] mustymx commented on #59
Thank you, these issues have already been resolved.

[2017-09-27 09:07] #59 closed

[2017-09-27 09:33] mrsof commented on #59
Thx for quick support. But I am still facing some issue Pls check these pastebin to see what I did and the error throwed.

https://pastebin.com/gkfTzU0N
https://pastebin.com/GrXj3LiT

Also, I do not find anymore the “android/local.properties” file in the new package. Should I create it ?

Thx

[2017-09-27 10:28] mrsof commented on #59
I have found the solution
https://stackoverflow.com/a/42644364/1458189
Solved!

[2017-09-27 12:05] emiryayla commented on #60
yes it is. same selection I got but nothing...!

[2017-09-27 14:36] mrsof opened #62 "Question : update to new Rest API"
When reading the docs [here](https://mstore.gitbooks.io/mstore-manual/content/pro-version/wordpress-installing.html) we have to add the old [JSON API REST](https://wordpress.org/plugins/json-api/) wich is not supported and not recommanded to install in WP 4.8+.

Do you plan to update mstore to use new fully integrated in Wordpress and WOOComerce REST API ?

[2017-09-28 13:23] mustymx opened #63 "WC does not receive address billing and phone"
WC does not receive address billing and phone
<a href="https://imgur.com/v9uGRZz"><img src="https://i.imgur.com/v9uGRZz.png" title="source: imgur.com" /></a>

Once the order has been placed, the shopping cart must be emptied
<a href="https://imgur.com/zcWm2Gk"><img src="https://i.imgur.com/zcWm2Gk.jpg" title="source: imgur.com" /></a>

[2017-09-29 01:11] inspireui commented on #63
Thank you for raise it, our technical guy is checking and have a hotfix in 1-2 days. Thank you!

[2017-09-29 01:16] inspireui commented on #62
Hi, as we are still using this Json API User for authentication - https://wordpress.org/plugins/json-api-user/ so it's dependency to Json API Rest, we are waiting for the new WP API fully support then we can detach these plugins. Thank you!

[2017-09-29 01:30] inspireui commented on #60
Hi, looks like your Rest API is not enable from the WooCommerce setting so that you could not reach to the endpoint - http://greentous.com/wp-json/wc/v2

it should be returned the data like this - http://mstore.io/wp-json/wc/v2

[2017-09-29 08:39] tstkenny opened #64 "3.3, home view horizontal layout all items without image, price=$0.00"
It seems the app is unable to get anything from WC at all.

[2017-09-29 08:45] tstkenny opened #65 "3.3, home view card layout generates error in chrome debugger"
Setup: wordpress clone from your mstore repo.  Nothing updated inside.  Product image sizes matched in omni.js.  JSON API Settings plugin -> controllers all activated.  WC keys setup properly as in some views the app loads images & product details successfully.

1. Warning: `flexWrap: `wrap`` is not supported with the `VirtualizedList` components.Consider using `numColumns` with `FlatList` instead

[2017-09-29 13:31] inspireui commented on #64
Hi we will update the webconfig, in the meantime please check this document guide for the horizontal layout config - https://mstore.gitbooks.io/mstore-manual/chapter6.html

[2017-10-01 23:37] kaledjeff opened #66 "Pro Version bugs"
Hello,

I just purchased the template and I’m having trouble with pro version (The expo version seems to work except for one small bug).

Here are the messages after opening the project on Expo XDE:

Warning Warning: Not using the Expo fork of react-native. See https://docs.expo.io/. Warning Warning: Problem validating app.json: Unable to perform cache refresh for C:\Users\Admin\AppData\Local\Expo

[2017-10-02 14:59] inspireui commented on #66
Hi, for the mstore-pro version, you could not open the app via Expo XDE, it should be executed via command line: react-native run-ios

Or start from XCode or Android Studio

[2017-10-02 15:02] inspireui commented on #65
Thank you for your feedback, i've marked this ticket as bug for further update.

[2017-10-02 19:35] kaledjeff commented on #66
After typing yarn start, I can't type anything.

It says "loading dependency graph, Done" and that is it.

I followed this documentation ( [https://mstore.gitbooks.io/mstore-manual/content/expo-version.html] ) which clearly says that you can use XDE but it didn't work.

I also tried the second method as the document suggested and the same errors appeared  as previously mentioned

https://imgur.com

[2017-10-02 19:37] kaledjeff commented on #66
I don't have mac. So I can't use XCode.

[2017-10-02 20:32] mustymx commented on #63
good afternoon, any news about the issues?

[2017-10-04 00:28] kaledjeff commented on #66
Any update on this?

[2017-10-04 00:38] inspireui commented on #66
Hi, let me explain more about the step, for both versions you need to run: yarn install to setup the dependencies libraries, then
- Expo version (mstore-expo): open the Expo XDE (which is download from http://expo.io) or use exp like on your screenshot to run the app.
- Pro version(mstore-pro): you could not use exp cmd or Expo XDE on this version, instead use the react-native-cli to run the app b

[2017-10-04 00:49] kaledjeff commented on #66
I need the pro version for RTL and push notification. Is there a way to add that to the Expo version?

Do you I need mac to build an ios application?

[2017-10-05 05:26] #38 closed

[2017-10-05 05:26] #61 closed

[2017-10-05 05:30] #45 closed

[2017-10-05 07:53] inspireui commented on #65
fixed on v3.3.2

[2017-10-05 07:53] #65 closed

[2017-10-05 07:54] #62 closed

[2017-10-05 07:56] inspireui commented on #63
fixed on v3.3.2

[2017-10-05 07:56] #63 closed

[2017-10-05 07:56] #60 closed

[2017-10-05 07:57] #53 closed

[2017-10-05 07:57] #44 closed

[2017-10-05 08:00] inspireui commented on #23
please check with latest version v3.3.2 to fix the issue. Thank you!

[2017-10-05 08:00] #23 closed

[2017-10-06 07:29] inspireui commented on #64
Please check this readme to update the config for horizontal layout: https://github.com/inspireui/mstore/blob/master/Readme.md

This is also clarified from - https://mstore.gitbooks.io/mstore-manual/content/chapter6.html

[2017-10-06 07:29] #64 closed

[2017-10-07 08:38] inspireui opened #67 "From doglike"
1) On the News Detail Page I can’t scroll the page (exactly where the big header image is located). Its a really annoying behavior. Please fix it.

2) On Android, there’s a big gap between the Top Margin and the Nav Menu. Looks really weird. Take a look at this screenshot and see what I’m talking about, all that white space:

https://imgur.com/9UPHmDb

3) When clicking on the Product Link (title)

[2017-10-08 15:39] karim-aly commented on #61
Same Error
Output from react-native link:

rnpm-install info Android module react-native-admob is already linked
rnpm-install info iOS module react-native-admob is already linked
rnpm-install info Android module react-native-fbsdk is already linked
rnpm-install info iOS module react-native-fbsdk is already linked
rnpm-install info Android module react-native-linear-gradient is already linked
rnpm-

[2017-10-10 02:23] #67 closed

[2017-10-10 12:56] raymondzb opened #68 "BeoNews Expo Integration DOES NOT work"
My purchase code is:

3fa55ee9-4eab-4612-b32f-11e100c23f46

I bought this through CodeCanyon.  I tried to follow your instructions here:

https://beonews.inspireui.com/test2.html

but the Expo documentation simply does  not work and is of no help!  This was supposed to be Expo integrated out of the box.  It is not.

Furthermore, the Pro version instructions are unclear.  At one point, you show a l

[2017-10-10 14:00] ciprianimike opened #69 "BeoNews pro 2-7-0 - React Native several red screens when changing the WordPress URL"
I downloaded beonews 2.7.0, cd /beonews-pro, i launched `yarn` and `react-native run ios`,
the app works

I installed the WordPress dump at beonews.michelecipriani.it (nginx php-fpm mariadb utf8, not utf8mb4). I only update the wordpress config file.

In /beonew-pro i updated App/Common/Config.json with
`root: 'http://beonews.michelecipriani.it',`

I noticed custom pages were missing in WordPress

[2017-10-10 14:03] ciprianimike opened #70 "BeoNews pro 2-7-1 - React Native"
If i can build the release 2.7.0 successfully. Trying to launch `yarn` and `react-native run ios` on the release 2.7.1 i obtain the error:

[code]

I tried to clean the cache without any change
[code]

[2017-10-10 15:19] ciprianimike commented on #70
deleting the /build directory and rebuilding it in XCode resolve this issue.

In this release is still present the issue:
https://github.com/inspireui/mstore/issues/69

[2017-10-10 15:20] #70 closed

[2017-10-10 20:52] mustymx opened #71 "Retains the products in the shopping cart after the purchase"
Even 3.3.3 retains the products in the shopping cart after the purchase.
After shopping the shopping cart must be emptied
<a href="https://imgur.com/TOac2Yk"><img src="https://i.imgur.com/TOac2Yk.png" title="source: imgur.com" /></a>

[2017-10-11 00:51] inspireui commented on #68
You can try the guide for Expo at this guide - https://beonews.inspireui.com/version-24.html

Thanks.

[2017-10-11 00:55] inspireui commented on #66
Hi sorry for lated response on this ticket, regarding to the RTL on Expo version it will be have some limit as it is not support completely to modify the native setting on Xcode or Android Studio so we suggest to use RTL on Pro version (your can refer to this document for the detail config - https://facebook.github.io/react-native/blog/2016/08/19/right-to-left-support-for-react-native-apps.html)

[2017-10-11 00:56] inspireui commented on #16
I'm closing this ticket as it is support Facebook, please check this demo post on the app - http://news.inspireui.com/very-berry-chocolate-chia-breakfast-mousse/

[2017-10-11 00:56] #16 closed

[2017-10-11 00:59] inspireui commented on #71
We could not replicate this issue on the demo http://expo.io/@minhcasi/mstore, could you help to clarify more? Thank you!

[2017-10-11 01:03] inspireui commented on #69
We could not see your sharing video - https://gyazo.com/2628d650a61248e239493c5bc85371e1

Could you update it again please.

[2017-10-12 01:52] #68 closed

[2017-10-13 10:17] ciprianimike commented on #69
@inspireui it should work now: https://www.dropbox.com/s/7kd2qy7usup5nwg/beonews%202.7.0%20-%20redscreen.mp4?dl=0

[2017-10-16 12:09] jeemok commented on #39
hi @inspireui @minhcasi,

I'm quite fond with building the app with Expo, may I ask if there is anyway I can use my own Facebook page for Expo version FB login?

Many thanks,
Mok

[2017-10-16 15:24] inspireui commented on #39
Yes sure, config the facebook login on Expo quite easy to update the config.js/constants.js file, please have a look more to this doc - https://docs.expo.io/versions/latest/sdk/facebook.html#registering-your-app-with-facebook

[2017-10-16 16:58] ciprianimike commented on #69
Problem was due JSON API USER endpoints not working on Nginx

[2017-10-16 16:58] ciprianimike commented on #69
Problem was due JSON API USER endpoints not working on Nginx

[2017-10-16 16:58] #69 closed

[2017-10-19 01:30] inspireui commented on #71
Thank you, we will review it again and do investigate it deeply.

[2017-10-19 01:31] #66 closed

[2017-10-21 21:49] mgolkardev opened #72 "chnage to RTL error"
Hi
I have a bug.
Please watch the video.

https://youtu.be/wKjDX78Rvew

Please fix the bug.

[2017-10-23 03:43] jeemok commented on #39
Thanks for the ref, I was able to set up correctly in Expo version! :)

However, when user first time login through Facebook, it will require user to sign up in order to proceed; and when the second time user login again through Facebook login, it still prompt out Sign up page for user. Do you know how I could fix it?

Steps to reproduce:
1. Sign in using Facebook ( prompt up sign up page )
2. Sig

[2017-10-24 08:44] ItsMeSafiuddin opened #73 "[Beonews] Undefined is not an object (evaluating 'child.type')"
Hi, please help me with this error

![error child type](https://user-images.githubusercontent.com/10663688/31932962-5ec7210a-b8da-11e7-8f06-a525f7214240.png)

[2017-10-25 10:21] jeemok commented on #39
Turns out it was because the Key Hashes doesn't match with the one I set in the Facebook developer page. Everything is good now!

Thanks!
Mok

[2017-10-26 00:59] inspireui commented on #73
Hi, could i check this issue on the Mstore or BeoNews product? Thank you!

[2017-10-26 02:27] ItsMeSafiuddin commented on #73
this issue from BeoNews product

[2017-10-26 11:30] tameryetim commented on #69
Hi @ciprianimike and @inspireui

I have the same problem

what should I do ?

Error Start -     https://gyazo.com/4da7677be8895e50a018b05309a4c8ac

Error End -       https://gyazo.com/4743b2bb80c881f98a4fef3b23e0a385

My Config.Js  -  https://gyazo.com/dc15a7b388114616db757b268b6439c4

My BeoNews Version = 2.7.1

Thanks.

[2017-10-26 11:31] tameryetim commented on #73
Hi @inspireui

I have the same problem

what should I do ?

Error Start -     https://gyazo.com/4da7677be8895e50a018b05309a4c8ac

Error End -       https://gyazo.com/4743b2bb80c881f98a4fef3b23e0a385

My Config.Js  -  https://gyazo.com/dc15a7b388114616db757b268b6439c4

My BeoNews Version = 2.7.1

Thanks.

[2017-10-27 17:57] masoudkhademi opened #74 "email verification"
when users register in app . they use an email but maybe this email is not their email and it . this may cause security problems . users must confirm their email to activate their account .how can i do it?

[2017-10-28 11:30] mgolkardev commented on #72
Hi
Can anyone help?
https://youtu.be/wKjDX78Rvew

[2017-10-29 14:34] inspireui commented on #72
Hi sorry for lated response, could you clarify more about the bug ? is it an issue with showing content after you click on the RTL menu ? Is it happening on the demo app on Google Store or from your local setting ?

Thank you!

[2017-10-29 14:37] inspireui commented on #74
Hi you can upgrade the registration flow base on your business, you could update your wordpress site to prevent user sing up from the app if he is not activate the email.

The app is also checking unique email when process registration via Rest API.

Btw, it's flexible to update the code base on your business.

[2017-10-29 14:37] #74 closed

[2017-10-29 14:43] inspireui commented on #73
This issue is caused by the parallax category component, please ty to map the lag category name to match with the imageCategory from images.js file - https://gyazo.com/b4b4583a4c8e72dc290bff506204ca5c

[2017-10-29 15:27] mgolkardev commented on #72
Hi @inspireui
The previous vision (https://youtu.be/wKjDX78Rvew) was the local, but the video below is from the Play Store.

`mstore on Play Store : `
When right-to-left or reverse, the pages are not displayed until we close the app and open it.

[2017-11-01 13:58] inspireui commented on #72
Hi thank you, this could be the issue RTL on Android, i've marked this as the bug and will review and update on next version.

[2017-11-01 14:02] mgolkardev commented on #72
Hi
I'm waiting for your new update.
Thanks a lot

[2017-11-02 13:33] xa9 opened #75 "how set the HorizonLayout i can't set it"
i can't understand the : https://mstore.gitbooks.io/mstore-manual/content/chapter6.html

and set the HorizonLayout in home page .

tag ,category and name

[2017-11-07 00:43] inspireui commented on #75
Hi this is used for config the horizontal layout from the homepage, it is quite dynamic by this config as you can add the flexible homepage. Please try to change the category id or tag id that match with your Wordpress site then it will appear on the app. Thank you!

[2017-11-10 11:36] hitomtao opened #76 "there is no clean and rebuild option in my android studio(2.3) for this project."
there is no clean and rebuild option in my android studio(2.3) for this project.
and following the windows install video guide, failed at last, app in android notice unable to load script from assets 'index.android.bundle' ...

[2017-11-11 00:22] 4ship opened #77 "Urgent Bug in display products for specific categories"
In home page there are many categories, I tried to display products  for specific categories in each section but always show only one category for all sections.

I checked the code , WoocommerceAPI was sending only URL without data. I had to do this to fix it

[code]

hope this help

[2017-11-12 08:53] minhcasi commented on #77
Thank you so much for your suggestion, this issue on happing on https, we will update the fixed on next version together with some extra feature like shipping and coupon...

[2017-11-12 09:00] inspireui commented on #76
Hi,

Could you make sure your Android SDK config correctly base on this guide - https://goo.gl/Fmcsf1

Then you can run this cmd to build the app on Android:
yarn start
react-native run-android

Or it can also build by Android Studio (please don't upgrade the grade version from the project.

Please also try with out video installing guide on both ios or Window OS

[2017-11-13 07:18] alfarioekaputra opened #78 "Error on compile android"
hello, i want to run mstore on android device, when compile i get error like this

[code]

[2017-11-13 09:34] #78 closed

[2017-11-14 07:11] mv-developer opened #79 "BUILD FAILED"
Hello,
Item Purchase Code: 201fa5ca-0107-44dd-8738-8fdb46bc9c8f
When i run : react-native run-ios i have this error message

BUILD FAILED **
The following commands produced analyzer issues: Analyze /Users/ahmedwali/Projects/ReactNative/mstore-v3.3.3/mstore-pro/node_modules/react-native/ReactCommon/yoga/yoga/YGNodeList.c Analyze /Users/ahmedwali/Projects/ReactNative/mstore-v3.3.3/mstore-pro/node_mo

[2017-11-14 07:20] minhcasi commented on #79
Please try to install this library again - https://github.com/tipsi/tipsi-stripe

Then run: react-native link

It will fixed this issues.

[2017-11-14 18:00] emreaky opened #80 "A bug blocking us before launching"
We have a critical bug that blocking us before launch. in our app every category shows same products also when we scroll the list products duplicated again and again. On homepage it shows same products again. Can you help us to solve this problem.

[2017-11-15 08:11] mtx62 opened #81 "unable to add featured products to homepage"
Greetings,
It's not mentioned in the documentation how to add featured products to homepage
Best regards.

[2017-11-16 12:03] mtx62 commented on #81
Dear, I think you need to update the code,
because I changed tag to tags and it's working now.

[2017-11-16 15:01] lwincmm commented on #81
hi mtx62,
How did you do it ?
I am interested featured ad.
rgds

[2017-11-16 15:06] amineprogram commented on #80
Are you using https ? if yes this is a bug just use http

[2017-11-16 15:40] amineprogram opened #82 "Urgent mstore error : null is not an object (evaluating category.image.src)"
We have a critical new bug that crash the app
error :  https://imgur.com/a/EyCGx
video recorder : https://drive.google.com/file/d/1RIPEcGCpUcw5cLNBRPNfVdfn1aOkSaW6/view?usp=sharing
i have the error with original config and with my config

[2017-11-16 15:58] emreaky commented on #80
Yes we are using https when will you fix this issue? We must use https because of security.

[2017-11-16 16:53] arda971 commented on #78
hi i have the same error how do you fixed it

[2017-11-16 20:48] alfarioekaputra commented on #78
I change the compiled sdk to 25

[2017-11-17 00:26] mtx62 commented on #81
If you looking for a quick answer but it's not professional way then,
open `src/services/WooWorker.js` and go to line 69 and change
`params = {...params, tag }`
to
`params = {...params, tags: tag }`
and you are done.

[2017-11-17 01:41] lwincmm opened #83 "[Feature request] selling item location google map,street view , home slider"
pls add to support feature for google map , street view , map maker in iOS , Andorid App
two or more home slider on app home for feature ad

[2017-11-17 02:18] inspireui commented on #80
Hi @emreaky, could you try to replace this file on the project https://github.com/minhcasi/react-native-woocommerce/blob/master/WooCommerceAPI.js it will fix the http issues.

If you are still trouble with the issue after replaced this file, please share your constants and config file to our support email: support@inspireui.com We will help to investigate further and fix it.
Thank you!

[2017-11-17 02:22] inspireui commented on #81
Hi @lwincmm please refer to the guide from https://mstore.gitbooks.io/mstore-manual/content/chapter6.html "Change the HomePage horizontal layout" Thank you!

Thanks @mtx62 we will have a check the tag issue on WooWorker

[2017-11-17 02:26] inspireui commented on #82
Hi, please go to the WooCommerce product category and update the banner - https://gyazo.com/a101cc15a50f3a83d3f6b7f8bcedc00f  - it will fix the issues. Thank you!

[2017-11-17 02:28] inspireui commented on #83
Thank you for your suggestion, we've marked this ticket as the feature request and send to the team for reviewing.

[2017-11-17 08:01] arda971 commented on #78
Yes thanks it does work

[2017-11-17 12:08] amineprogram commented on #82
thanks problem resolved 👍
Waiting the new release

[2017-11-18 02:59] #82 closed

[2017-11-19 22:23] mv-developer commented on #71
Hello,
I have the same issues i create custom payment type.

[2017-11-21 00:46] #75 closed

[2017-11-21 00:46] #76 closed

[2017-11-21 00:52] inspireui commented on #77
i'm closing this ticket as this will be updated on 3.4.

[2017-11-21 00:52] #77 closed

[2017-11-21 00:53] #79 closed

[2017-11-21 00:56] inspireui commented on #81
Fixed on 3.4, it will be ready in 1-2 days.

[2017-11-21 00:56] #81 closed

[2017-11-21 00:57] inspireui commented on #80
this will be fixed on v3.4 which will be ready in 1-2 days.

[2017-11-21 00:57] #80 closed

[2017-11-22 01:26] mv-developer commented on #21
Hi @inspireui ,
i have the same issue and still not working in new release v 3.3

[2017-11-25 16:27] tohapiliang opened #84 "amazon affiliate sales"
PreSales, this app work with amazon affiliate sales, when click order can open the amazone app or open Browser Web View int the app ?

Please Reply Thankyou!

[2017-11-25 18:49] luisalexhg opened #85 "Errors in my app"
I have a little problem, I install the demo and all is perfect, but when I connect app to my website, some functions don’t work, for example when I login, the page don’t redirect, or when I confirm order, the page don’t load, pls assistance.

I install all the plugins and activations
![captura de pantalla 2017-11-25 a las 13 48 29](https://user-images.githubusercontent.com/28818275/33233659-6507d3

[2017-11-25 19:41] mgolkardev commented on #72
Hi
I change `animationEnabled : true` and `lazy : true` in navigation/index.js and Bug fixed.
Let me know if there is another problem with my change.

[code]

[2017-11-26 15:05] inspireui commented on #84
Yes, it's possible, you can customize by adding the "In-App Browsers" feature that support to open the  right on the app with you affiliate sales. Could you provide some detail about the affiliate link or website that we can help to check the solution for you. Thank you!

[2017-11-26 15:09] inspireui commented on #85
Could you help to download the pre-config site form this repo - https://github.com/inspireui/mstore We have added some all config that worked with the app, then you can figure out the issues from your website.

Please note the image issues could be fixed by update the layout.js config - https://mstore.gitbooks.io/mstore-manual/content/chapter6.html. We are going to release new v3.4 which will help

[2017-11-28 14:51] teodorboev opened #86 "following instructions for building on iOS, build failing with the following error"
following instructions for building on iOS, build failing with the following error
<img width="647" alt="screen shot 2017-11-28 at 14 47 56" src="https://user-images.githubusercontent.com/1229117/33325890-74e9bb46-d44b-11e7-9efe-d5eba9052641.png">

File is the in the folder!

Please advice!?

pcode:  2c6b0992-197a-4870-8091-45295263b367

[2017-11-29 07:26] minhcasi commented on #86
For iOS, you need to download the FacebookSDK(https://origincache.facebook.com/developers/resources/?id=facebook-ios-sdk-current.zip) and copy to ~/Documents/FacebookSDK.

https://mstore.gitbooks.io/mstore-manual/content/chapter1.html

[2017-11-30 03:34] inspireui commented on #72
Hi, it's correct updated.

There are some minors issues on RTL and we will update it on v3.4 on next couple of days. Thank you!

[2017-11-30 03:34] #72 closed

[2017-11-30 09:55] JKLTechno opened #87 "Images not loading in app"
app working perfectly but images not loading from site to app.

[2017-11-30 18:41] eric90066 opened #88 "Application <application name> has not been registered."
I've successfully complied my app using the instructions in the manual.  I am trying to connect to my wordpress woocommerce site.

When I run the app in genymotion the above error is thrown (with the name of my app as "application name") and the following:

Hint: This error often happens when you're running the packager (local dev server) from a wrong folder. For example you have multiple apps and

[2017-12-01 10:28] jigar990 opened #89 "error code"
D:\app\codecanyon-17010642-beostore-complete-react-native-template-for-ecommerce\mstore-v3.3.3\mstore-pro\node_modules\react-native-admob\android\build\intermediates\res\merged\release\drawable\common_google_signin_btn_icon_dark_normal.xml
C:\Users\pc\.android\build-cache\56f384726767dcaac71d4d7a2660e3a269f8d3fb\output\res\drawable\common_google_signin_btn_icon_light_normal.xml
C:\Users\pc\.androi

[2017-12-01 14:59] minhcasi commented on #87
Hi, please check the product display size: https://mstore.gitbooks.io/mstore-manual/content/chapter5.html

 and the horizontal layout config from - https://mstore.gitbooks.io/mstore-manual/content/chapter6.html

[2017-12-01 18:39] eric90066 commented on #88
For anyone else with this issue,  the solution for me was to add the name of my store to /mstore-pro/index.android.js where it says beostore.

Be careful.  Only delete the word Beostore.  DO NOT delete the single quotes around it ('bestore').  For whatever reason, when I deleted the word and quotes and retyped the single quotes the app would not recognize the quotes correctly.

In addition, I also

[2017-12-01 21:18] eric90066 opened #90 "App sync to woocommerce site incomplete"
Using mstore-pro.

No other way to describe this.  The app correctly displays the same ten or so items in my webstore through out the app.

The home page is full of the same products.   When clicking on a product category selected for the home page, at the top I see template store items, and my items below.

Also the product categories section appears to display the appropriate category images, bu

[2017-12-01 21:19] eric90066 commented on #87
I am seeing the same thing.   Only 5-10 images.

[2017-12-02 12:51] jigar990 opened #91 "change the currency"
how to  change the currency?

[2017-12-02 12:53] jigar990 commented on #89
problem solve

[2017-12-02 12:53] #89 closed

[2017-12-04 11:07] simoricu commented on #84
Hi, I've the same needs. Can you check my website here: https://www.guidacani.it/ (homepage) and https://www.guidacani.it/shop (shop).
Can you give me a feedback about compatibility with your template?
Thank you

[2017-12-04 17:55] eric90066 commented on #90
Since the app developer is missing in action - for the curious - I discovered the store name is an image and stored in the images folder (/src/images) under the name 'new_logo.png'.

[2017-12-04 17:55] #88 closed

[2017-12-05 05:42] inspireui commented on #88
Thank you for  your sharing, we will have a check and documentation if we can find a solution.

[2017-12-05 06:01] inspireui commented on #90
Hi @eric90066  confirmed that the categories issues will be fix on v3.4. Thank you!

[2017-12-06 22:05] MakarkinPRO commented on #17
+1

[2017-12-07 11:51] Vrijlating opened #92 "Demo launch problem"
Hello,
i have a problem on launching the demo on my pc.
When I launch the code "react-native run-ios" appear this error: (image attach.)
<img width="429" alt="problem" src="https://user-images.githubusercontent.com/31366135/33713878-3650c88a-db4d-11e7-8f0a-9ff36a729a77.png">
I have also try to launch with " sudo react-native run-ios" but in this case don't open the simulator.
How I can solve it?

[2017-12-07 16:21] Vrijlating commented on #92
Meanwhile I have retry to make the operations and there is these error:
`** BUILD FAILED **

The following build commands failed:
	CompileC /Users/darioditto/Desktop/mstore-pro/ios/build/Build/Intermediates.noindex/RCTOneSignal.build/Debug-iphonesimulator/RCTOneSignal.build/Objects-normal/x86_64/UNUserNotificationCenter+OneSignal.o OneSignalNativeSDK/OneSignal/UNUserNotificationCenter+OneSignal.m

[2017-12-07 21:32] eric90066 commented on #90
Hello - updated to new version.  Had to start from scratch since there are no instructions on how to upgrade.

Received the following error during build:

Error:(15, 21) No resource found that matches the given name: attr 'android:keyboardNavigationCluster'.
Error:(15, 21) No resource found that matches the given name: attr 'android:keyboardNavigationCluster'.
Error:Execution failed for task ':rea

[2017-12-08 06:49] jafarnajafov opened #93 "Xcode problem"
mstore-pro/node_modules/react-native/Libraries/Vibration/RCTVibration.h:10:9: ‘React/RCTBridgeModule.h’ file not found

Purchase code: a6ea1135-dec9-4676-ae03-65a3849e3e64

![2017-12-08 10 40 58](https://user-images.githubusercontent.com/19730745/33754339-355ddcd4-dc05-11e7-903d-ee30fc958b2f.png)

[2017-12-08 07:00] diryux opened #94 "Android Studio 2 error(s) and 1 warning"
I've got 2 errors while building the android app using android studio, any help would be appreciated

Purchase code: a218bcdf-e9be-4e31-9497-c2260b2965af

 Error: Failed to crunch file D:\work\apps\mstore-pro\node_modules\react-native-onesignal\android\build\intermediates\exploded-aar\com.google.android.gms\play-services-base\11.0.4\res\drawable-xxhdpi-v4\common_google_signin_btn_icon_light_normal

[2017-12-08 08:13] luisalexhg opened #95 "Error on Xcode"
mstore-pro/node_modules/react-native/Libraries/Network/RCTNetworkTask.m:10:9: 'React/RCTLog.h' file not found

Purchase code: 993e4b07-50d6-4861-a282-c580c19a685e

![captura de pantalla 2017-12-08 a las 03 04 35](https://user-images.githubusercontent.com/28818275/33756852-5d1758f8-dbc5-11e7-9964-1f003a34abf6.png)

Please help!

[2017-12-08 15:14] inspireui commented on #92
Could you try with this script to clean the cache - https://gist.github.com/inspireui/00e6f757c137b289c090173367c27af9

[2017-12-08 15:15] inspireui commented on #90
Please download the latest v3.4.2 will fixed the keyboardNavigationCluster on Android

[2017-12-08 15:21] inspireui commented on #93
It looks like you xcode project could not get the React lib, please try to config same as this screenshot
<img width="904" alt="screen shot 2017-12-08 at 10 19 57 pm" src="https://user-images.githubusercontent.com/29778334/33772105-0efb34cc-dc66-11e7-9678-d6584547943f.png">

or try to clean the cache https://gist.github.com/inspireui/00e6f757c137b289c090173367c27af9\

[2017-12-08 15:22] inspireui commented on #94
Hi, could you download the latest v3.4.2 to see if it can be fixed this issues, thanks

[2017-12-08 17:05] karim-aly opened #96 "Error when bundling"
48 |   Payments: {
  49 |     bacs: require('@images/payment_logo/PayPal.png'),
  50 |     cod: require('@images/payment_logo/cash_on_delivery.png'),
     |                        ^
  51 |     paypal: require('@images/payment_logo/PayPal.png'),
  52 |     stripe: require('@images/payment_logo/stripe.png'),
  53 |   },

[2017-12-09 05:11] eric90066 commented on #90
The menu button and header appear to be missing on shopping cart, search and favorites pages.

In addition there are two contact us buttons.  Is there a function to link to the contact us page on my website?

[2017-12-09 09:00] Vrijlating commented on #92
Appear this:
$ react-native run-ios
module.js:538
    throw err;
    ^

Error: Cannot find module './local-cli/cli.js'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/Users/darioditto/Desktop/mstore-pro/node_modules/react-native/c

[2017-12-09 10:01] jigar990 commented on #87
app working perfectly but if i add new product images not loading plz help me out and how to change currency

[2017-12-09 10:01] jigar990 opened #97 "new product images not loading"
app working perfectly but if i add new product images not loading plz help me out and how to change currency

[2017-12-09 15:04] #94 closed

[2017-12-09 15:05] diryux commented on #94
Fixed it thanks

[2017-12-10 10:52] martinledjo opened #98 "Update bug"
I can run the app with react-native run-ios
I have many error with RTC*
at the beginning i could not run with xcode either because of RTC error
so I added the library react in scheme
when i run i can't logout - i can't go on news
Screen:
http://image.noelshack.com/fichiers/2017/49/7/1512903002-unknown2.png

when i click on news nothing happen
i can logn in but when i disconnect it takes me on the

[2017-12-10 19:00] diryux commented on #91
any help changing the currency?

[2017-12-10 19:33] martinledjo commented on #98
Purchase code: 71fce291-9906-4858-954e-9e1b6dca3688

[2017-12-11 03:57] eric90066 commented on #90
3.4.2 appears to have fixed a lot of the issues.  The home page images come up without issue and I see the entire catalogue of items on that page.

Some of the button images are missing such as the header (as mentioned above).  Where are those images stored?

For the product page some of the the images are missing or incomplete for a number of products.  I tried resizing the thumbs and they did no

[2017-12-11 05:10] eric90066 commented on #90
Also, please advise how to control the size of images within a web page.  For instance, all my products display like this on webpage:

![2017-12-11 at 00-00-43](https://user-images.githubusercontent.com/5639308/33816513-6420b42a-de07-11e7-9687-3d4dfcf549d3.png)

And like this on the app

![screenshot 2017-12-11 00 05 46](https://user-images.githubusercontent.com/5639308/33816521-72389604-de07-11e7

[2017-12-11 17:39] eric90066 commented on #90
What might be ideal here is a function to block images, text, video and iframe in the body of the product page when using on a mobile device.

I think this would have to be a wordpress plugin, no?

[2017-12-11 19:59] mgolkardev commented on #72
Hi

Thank you for your amazing update!
Many problems were solved.
But there's a big problem.
When the default is `RTL = True in Constants.js` and I install the app, app is LTR until I close the app and reopen it.

I,m waiting for your response.

[2017-12-11 22:31] minhcasi commented on #96
Hi, it looks like you modify the config but your require image it not correctly, it should be like this require('@images/payment_logo/PayPal.png')...

<img width="579" alt="screen shot 2017-12-12 at 5 29 36 am" src="https://user-images.githubusercontent.com/1459805/33857303-b404bf1c-defd-11e7-8a7a-4830a6021b48.png">

[2017-12-11 22:36] minhcasi commented on #97
it could be cause by the cache for the offline feature, you can try to pull to refresh then it will load again, there is the currencyFormatter from src/Omni.js to change the symbol, we will update this for easier to config on next version. Thank you!

[2017-12-11 22:40] minhcasi commented on #98
Hi, could we check if you have customize the app already or use from the fresh download package, could you have a check from Xcode log to see what is the detail error when click to the news ?

You can try to reset the Content and Setting data from simulator from Hardware menu, the app is using from offline storage so it could cause this issues.

Let us know your checking, thank you!

[2017-12-11 22:59] inspireui commented on #91
Hi, there is the currencyFormatter from src/Omni.js to change the symbol, we will update this for easier to config on next version. Thank you!

[2017-12-12 00:20] inspireui commented on #90
Hi, you can modify the description content and remove some image from src/container/Detail/index.js, search the HTMLView which is render by react-native-render-html

You can also customize the style for each tag: https://github.com/archriss/react-native-render-html#creating-custom-renderers

[2017-12-12 00:25] inspireui commented on #72
Hi the RTL option can be change dynamic from Pro version (the setting option from left side bar).

The option from Constants.js is used for persist at the first loading app, it mean it will RTL if the first time user open the app. You can try to test this feature by Earse the content and Setting data from simulator, then install the app again.

Thank you!

[2017-12-12 00:40] inspireui commented on #92
Hi, it looks like you have not install npm for the node library, please try to update to latest version - http://nodejs.org

Please try to install all required library base on this guide:
https://facebook.github.io/react-native/docs/getting-started.html
https://mstore.gitbooks.io/mstore-manual
Or use this video for the set up - https://www.youtube.com/watch?v=XYsQcXTb_HA&t=4s

[2017-12-12 08:20] mgolkardev commented on #72
Hi

The problem is resolved when i change RTL in settings.
The main problem is that when in `Constants.js RTL = true`, the display still LTR for the first time the app is installed and opened. Note: **this is only for the first installation, and the first time the program opens**, this is a problem.

I hope to achieve a stable version by fixing the current issues.

Thanks a lot

[2017-12-12 18:53] eric90066 commented on #90
But I cannot see gallery images on product page.

In addition, for some pages I get this:

![screen shot 2017-12-12 at 1 51 03 pm](https://user-images.githubusercontent.com/5639308/33902700-dca076f0-df43-11e7-8479-f5ae448a8a11.png)

[2017-12-12 18:55] eric90066 commented on #90
And this:

![screen shot 2017-12-12 at 1 55 00 pm](https://user-images.githubusercontent.com/5639308/33902775-183a8f3e-df44-11e7-85ef-116ccc0a1691.png)

[2017-12-12 20:43] eric90066 commented on #90
Also, what I don't understand, products that appears perfectly on the home page, does not appear at all on the catalog page.

There is an issue with the loading of images away from the home page.

[2017-12-12 21:31] eric90066 commented on #90
In addition, I don't understand why the "news" section does not work.   This was linked to my blog on 3.4.1.  On this version it does nothing.

[2017-12-12 21:39] eric90066 commented on #90
After running a clean and rebuild, this is what I am seeing on category page:

![screen shot 2017-12-12 at 4 36 36 pm](https://user-images.githubusercontent.com/5639308/33909869-fc05a3fa-df5a-11e7-93c0-5145c8be8b46.png)

[2017-12-13 00:33] inspireui commented on #90
Could you share your website URL then we could have a look ?

[2017-12-13 05:27] inspireui commented on #93
If you have not installed by above solution, please kindly reopen this ticket. Thank you!

[2017-12-13 05:27] #93 closed

[2017-12-13 05:29] inspireui commented on #95
Hi, sorry i missed this ticket, please help to use solution on this ticket - https://github.com/inspireui/mstore/issues/93 or try to clean the cache and reinstall the libraries by using this script: https://gist.github.com/inspireui/00e6f757c137b289c090173367c27af9

[2017-12-13 05:32] inspireui commented on #86
Hi, kindly reopen this ticket if the solution is not worked. Thank you!

[2017-12-13 05:32] #86 closed

[2017-12-13 05:33] luisalexhg commented on #95
I have 1 month with the product and it don't work. I just did that but it does not work, also I already configured as indicated by the image but nothing.

iOS issues:
1. File not found.
![captura de pantalla 2017-12-13 a las 00 13 16](https://user-images.githubusercontent.com/28818275/33922719-9f6264c2-df9a-11e7-8c3b-ae473fd2e6ac.png)
- The configuration is ready
![captura de pantalla 2017-12-13 a

[2017-12-13 05:35] inspireui commented on #95
Could you try with the latest version v3.4.2 which is release on last few days. If it's still un-succesful we can help with the remote support. Thanks

[2017-12-13 05:36] luisalexhg commented on #95
I appreciate it immensely could help me in that way, I'll wait, thank you

[2017-12-13 05:41] inspireui commented on #72
Hi, i've sent this issue to technical for investigate further and have a fix if he can replicate the issues. Thank you!

[2017-12-13 05:45] inspireui commented on #95
Okie, please send your team viewer to our support email support@inspireui.com then we will online on next 1h for the checking. Thank you!

[2017-12-13 05:50] luisalexhg commented on #95
Ok, I already sent it. I will be online.

[2017-12-13 06:44] luisalexhg commented on #95
I send u again the access

[2017-12-13 10:20] diryux opened #99 "Multilingual Content"
Hey

I'm doing a multilingual app but I have a problem configuring it, whenever I change the language in the inside the app the products appear only in 1 language which I'm setting in config.js file.

I don't know how to sync both languages even when I added the second language

`const Constants = {
  RTL: true,
  Language: ['English','Arabic'],`

Thanks

[2017-12-13 14:04] #96 closed

[2017-12-13 16:04] eric90066 commented on #90
Sure.

This is an example of one product page:

https://looksavebuy.com/shop/on-the-run/universal-air-vent-phone-cradle-for-smartphones/

[2017-12-14 01:12] inspireui commented on #90
I see, could you share all package which already config on your site then send us via email - support@inspireui.com We will help to fix this issue then send back to you. Thank you!

[2017-12-14 01:13] inspireui commented on #95
Fixed by https://mstore.gitbooks.io/mstore-manual/chapter7.html

[2017-12-14 01:13] #95 closed

[2017-12-14 01:19] inspireui commented on #92
Not sure you have fixed this issue, feel free to reopen it if you still have an issue. thank you!

[2017-12-14 01:19] #92 closed

[2017-12-14 01:19] #91 closed

[2017-12-14 01:20] inspireui commented on #71
Fixed on v3.4.2

[2017-12-14 01:20] #71 closed

[2017-12-14 01:21] inspireui commented on #85
Please update latest v3.4.2 for all fixed Thank you!

[2017-12-14 01:21] #85 closed

[2017-12-14 01:22] inspireui commented on #97
Duplicate - https://github.com/inspireui/mstore/issues/87

[2017-12-14 01:22] #97 closed

[2017-12-14 01:24] inspireui commented on #98
How is you checking? If you still have an issues with the login please send your package to our support email support@inspireui.com Please note the v3.4.2 have fixed a lot of issues if you have modify the app you may need to merge code again. Thank you!

[2017-12-14 01:26] inspireui commented on #87
HI @JKLTechno @eric90066 how is your checking with latest v4.3.2 Could i close this ticket if already resolved ?

[2017-12-14 04:25] eric90066 commented on #90
Email sent.

[2017-12-14 05:20] joelbertlive opened #100 "react/rcteventemitter.h' file not found"
Please see attached image
<img width="1280" alt="screen shot 2017-12-13 at 9 19 32 pm" src="https://user-images.githubusercontent.com/5482265/33976676-7d7ee5cc-e04b-11e7-85ba-abd2971ed030.png">

[2017-12-14 12:17] SantiMancini commented on #87
I'm having this problem too. Any way of solving this?

[2017-12-14 13:04] SantiMancini opened #101 "App stays "LOADING..." when I choose "Cash on delivery""
Any solutions to this issue? I can't test the whole App.

![paymenterror](https://user-images.githubusercontent.com/21128914/33993637-22209f48-e0b6-11e7-8abb-0c2164dc28b4.PNG)

[2017-12-14 17:54] karim-aly opened #102 "iOS project build failes"
Error when building iOS project using latest update v3.4.2
When using Xcode:

`/Users/karimaly/ReactNativeWorkspace/Kamkilo/node_modules/react-native/Libraries/Text/RCTShadowText.m:201:38: Property 'layoutDirection' not found on object of type 'RCTShadowText *'`

When using react-native run-iso:

#import <React/RCTViewManager.h>
        ^~~~~~~~~~~~~~~~~~~~~~~~
1 error generated.

	Analyze /Users/

[2017-12-15 01:14] inspireui commented on #99
Hi, you can add more language from the common/Languages.js file, then it will be shown from the list automatically - https://gyazo.com/c0fe7a6992a3d56db2a00e5e1eac86c0

[2017-12-15 01:29] inspireui commented on #100
Could you check the solution from this guide - https://mstore.gitbooks.io/mstore-manual/content/chapter7.html

[2017-12-15 01:32] inspireui commented on #87
Hi @SantiMancini what's the version that you are using, if you are using v3.4.2 please follow the step from config.js file to correct the images issue Thank you!

[2017-12-15 01:34] inspireui commented on #101
You can use Reactotron to check the URL return issue at the confirm order to find out the problem – https://mstore.gitbooks.io/mstore-manual/content/chapter2.html

Could you send us the response json after tap to the COD option. Thank you!

[2017-12-15 01:42] inspireui commented on #102
Hi, please use this solution for the fix - https://mstore.gitbooks.io/mstore-manual/content/chapter7.html

[2017-12-15 03:05] blueprin4 opened #103 "branding not working"
I followed your instructions on branding and it stills says mstore with your logo.

[2017-12-15 03:07] blueprin4 commented on #103
also i tried this and still get same error: react-native bundle --platform android --dev false --entry-file index.android.js --bundle-output android/app/src/main/assets/index.android.bundle --sourcemap-output android/app/src/main/assets/index.android.map --assets-dest android/app/src/main/res/

[2017-12-15 11:43] karim-aly commented on #102
Ok, I'll try the fix.

[2017-12-17 13:41] mtx62 commented on #102
Greetings,
I'm facing the same error even though I tried the solutions in the document:
https://mstore.gitbooks.io/mstore-manual/chapter7.html
but still I can't start the app

[2017-12-17 22:37] karim-aly commented on #102
For me adding React to the Build in Project Schemes fixed the problem.

[2017-12-17 23:37] SantiMancini commented on #87
@inspireui Fixed with version 3.4.2. Thanks. I have some new problems with Product Description in this new version (bad rendering issues). I will open a new issue if I can't fix it by myself.
Thanks again!

[2017-12-18 00:50] karim-aly commented on #101
I was having the same issue.
billing fields for my user was all blank.
I set them from the wp admin and it worked.

@inspireui this issue is due to the way signup works in the app, please fix this issue.

[2017-12-18 01:24] karim-aly opened #104 "Splash Screen don't show anymore on Android"
After upgrade to V3.4.2, Splash Screen don't show anymore on Android.

[2017-12-18 03:01] inspireui commented on #102
@mtx62 could you share your screenshot when edit schema, and the detail log warning from XCode. Thank you!

[2017-12-18 03:04] inspireui commented on #87
[index.js.zip](https://github.com/inspireui/mstore/files/1566479/index.js.zip)

Could you try to override this file to containers/Detail/ folder to see if it can be fix the description issue, or you can remove the tag "p" at the HTMLView from that file - https://gyazo.com/3b4986f0df98d7f1a8f0cf43a03bc24c

Let us know your checking, thank you! We are updating new version to fix these issue.

[2017-12-18 09:43] inspireui commented on #103
Hi, could you take the screenshot to show us which the logo that you have changed?

[2017-12-18 10:29] inspireui commented on #101
Hi @karim-aly, it will be fixed on next version v3.4.3 which will be available on next 1-2 days. Thank you!

[2017-12-18 13:25] mtx62 commented on #102
Dear @inspireui it's working now,
The problem was that I was selecting beostore-tvOS and I did the configuration and it's not working,
But when I select beostore and I did the configuration it's working now.
Thank you.

[2017-12-19 05:24] inspireui commented on #102
Great @mtx62 thank for confirm

[2017-12-19 05:24] #102 closed

[2017-12-19 16:55] basechain opened #105 "import demo sql error"
I use MySQL 5.7
There is an error in importing data：
ERROR 1067 (42000): Invalid default value for 'comment_date'
ERROR 1067 (42000): Invalid default value for 'link_updated'
ERROR 1067 (42000): Invalid default value for 'post_date'
ERROR 1067 (42000): Invalid default value for 'user_registered'
ERROR 1067 (42000): Invalid default value for 'access_granted'
ERROR 1146 (42S02): Table 'mstore.wp_com

[2017-12-19 21:12] mgolkardev opened #106 "disable fullscreen mode"
Hi
How can I disable full screen mode in android?

![ppppppppppppp](https://user-images.githubusercontent.com/4500080/34179031-909680ac-e51e-11e7-8a4b-3d6b0dcfa992.png)

Thanks

[2017-12-20 03:44] eric90066 commented on #90
This change has improved the app in android, but I cannot see all images or text for my products.

Please advise.

[2017-12-20 03:46] inspireui commented on #90
Hi, could you resend the image screenshot issues again so that we can check. Thank you!

[2017-12-20 03:46] eric90066 commented on #104
I see the same.

[2017-12-20 04:34] eric90066 commented on #90
Here are images.   This one is the categories page.  Only one product displays:

![screen shot 2017-12-19 at 11 30 12 pm](https://user-images.githubusercontent.com/5639308/34191408-c3ca44a4-e514-11e7-961b-9c7efb009cea.png)

This is a product page.  It is blank.

![screen shot 2017-12-19 at 11 30 30 pm](https://user-images.githubusercontent.com/5639308/34191417-d3d106e4-e514-11e7-9b79-aa02735eb153.

[2017-12-20 11:55] minhcasi commented on #101
Hi @SantiMancini @karim-aly could you help to check if this issue is resolved on v3.4.3 so that we can close the ticket. Thank you!

[2017-12-20 11:57] minhcasi commented on #105
Could you try to use PhpMyAdmin to import it. Thank you!

[2017-12-20 11:57] minhcasi commented on #104
We are checking this issue and get back to you later

[2017-12-20 11:58] minhcasi commented on #100
Hi, feel free to reopen this ticket if you still have a issues. Thank you!

[2017-12-20 11:58] #100 closed

[2017-12-20 11:59] #99 closed

[2017-12-20 11:59] #98 closed

[2017-12-20 14:36] SantiMancini commented on #101
I tried ordering with you app credentials and managed to get past the 'LOADING' issue. Then, I tried with my own Woocommerce instance, and when I try to Log In or Sign Up, I get a toast error saying <Unknow controll 'mstore_user'>. So, I'm not sure if this is fixed at all.

[2017-12-20 17:16] basechain commented on #105
replace the "0000-00-00 00:00:00" to "2017-01-01 01:01:01"  is OK

[2017-12-21 04:20] inspireui commented on #106
Hi, there is the option showStatusBar to disable the status bar form the config.js file, could you have a check if it is fixed on Android.

[2017-12-21 04:21] inspireui commented on #105
Great, please for your confirm.

[2017-12-21 04:21] #105 closed

[2017-12-21 04:24] inspireui commented on #101
Hi @SantiMancini have you tried to enable the Mstore-checkout from the Json Controller, please have a look to the screenshot on this guide - https://mstore.gitbooks.io/mstore-manual/content/pro-version/wordpress-installing.html

[2017-12-21 04:27] inspireui commented on #90
Hi @eric90066 could you try to release the Look Save Buy website to the hosting instead of use from the local, as i know Android have some issue with the image loading from local, it will be fixed when it is online Please try to test it on iOS if it is the same or not Thank you!

[2017-12-21 05:44] eric90066 commented on #90
Hi inspireui,

The looksavebuy website is hosted on a remote server.   The site is is not run locally.

[2017-12-21 08:24] mgolkardev commented on #106
Thank you

[2017-12-21 13:06] SantiMancini commented on #101
Hi @inspireui that was it! Configured again my  Wordpress instance a I was able to submit an order via cash on delivery. Thank you guys! I'll let you know if I have any other issue.

By the way, product description is still buggy, it renders outside of the emulator screen. I already tried using the new index.js in /containers/Details. I'll wait for your comments.

Thanks again!

1.

[2017-12-21 14:42] SantiMancini commented on #104
+1

Also, I get a blank page when I select'Contact Us' in sidebar, and nothing happens when I select 'News'. This errors are happening with this new update, as well as the description issue.

[2017-12-21 19:04] karim-aly commented on #104
@SantiMancini +1 for the product description

[2017-12-22 17:33] eric90066 commented on #90
Running using iOS is better.  Product pages that do appear are complete.  But categories are still missing images and some products are still missing images.

![screen shot 2017-12-22 at 12 19 48 pm](https://user-images.githubusercontent.com/5639308/34306847-4c2114b8-e713-11e7-8dbc-b0a4119420b0.png)

From the Xcode console the following errors:

![screen shot 2017-12-22 at 12 24 10 pm](https://use

[2017-12-22 18:12] eric90066 commented on #90
Quick follow up.   Re ran the app in iPhone 8 plus (previous was in the 6s) and almost all products appeared with pictures (yeah!).

Some images embed in the product page were not sized correctly to fit the page and in some cases had all images appear properly but was missing text (which was below the images).

![screen shot 2017-12-22 at 1 04 14 pm](https://user-images.githubusercontent.com/56393

[2017-12-23 04:39] martinledjo opened #107 "Bug on News"
With the new version when i click on news i have a freeze (during 10 seconds)
![bug](https://user-images.githubusercontent.com/34414960/34316958-79059b3a-e7a3-11e7-8128-c25c71376e50.jpg)
and on react native debugger i see this :
![image](https://user-images.githubusercontent.com/34414960/34316964-96ac2b90-e7a3-11e7-91fc-1395055daee7.png)
My purchase code is : 71fce291-9906-4858-954e-9e1b6dca3688

[2017-12-23 13:37] karim-aly opened #108 "Can't create a new user (Signup) after upgrading to V3.4.3"
@inspireui After upgrading to V3.4.3, I can't create a new user.
A toast pops with this message:

[2017-12-23 13:42] martinledjo commented on #107
it's with the expo version

[2017-12-23 14:51] mezzat11 commented on #108
Same problem here

[2017-12-24 22:16] MechEight commented on #108
Same here

[2017-12-25 08:48] inspireui commented on #108
Hi, i've updated it as bug and will update new version very soon on next couple of days. Thank you!

[2017-12-25 08:49] inspireui commented on #107
Thank you, we will update this fix on next couple of days.

[2017-12-25 08:50] mezzat11 commented on #108
thank you .. don't forget shipping selection ( cann't unselect free
shipping )  bug

On Mon, Dec 25, 2017 at 10:48 AM, InspireUI <notifications@github.com>
wrote:

[2017-12-25 13:08] #20 closed

[2017-12-25 13:09] #22 closed

[2017-12-26 06:39] eric90066 commented on #90
Any update to this issue?

[2017-12-26 22:39] MechEight opened #109 "Can't login inside app"
When I try to login inside the app I get an error in the ios simulator

![simulator screen shot - iphone 6 - 2017-12-26 at 23 14 59](https://user-images.githubusercontent.com/24413827/34365733-e522e802-ea93-11e7-8156-323533ce8b77.png)

In Reactotron I can see this request being made:
http://local.wordpress.test/api/mstore_user/generate_auth_cookie/?second=120960000000&username=admin&password=passw

[2017-12-27 09:52] louierosero-gss commented on #73
@inspireui I'm kinda fixed this issue by commenting this specific code in ParallaxScrollViewComposition.js

`var applyPropsToParallaxImages = function (children, props) {
  if (isArray(children)) {
    return children.map(child => {
      if (isArray(child)) {
        return applyPropsToParallaxImages(child, props);
      }
      // if (child.type === ParallaxImage) {
      //   return React.clone

[2017-12-27 14:00] inspireui commented on #73
Hi, it would be fixed on v2.8.0, please download the latest version. Thank you!

[2017-12-27 14:00] #73 closed

[2017-12-27 14:42] #83 closed

[2017-12-27 14:46] #106 closed

[2017-12-27 14:47] #103 closed

[2017-12-27 14:48] #15 closed

[2017-12-27 14:48] #26 closed

[2017-12-27 16:03] inspireui commented on #90
Hi @eric90066 , please check this issue with latest version v3.4.4 (on next 1-2 days), i believe it will be fix your cases. Thank you

[2017-12-27 16:08] inspireui commented on #109
Hi, thank you, this will be fix on next v3.4.4

[2017-12-28 08:29] louierosero-gss opened #110 "Unable to resolve ./layouts"
Unable to resolve ./layouts" from "./C:\\Users\NAME\\Desktop\\BeoNews\\beonews-expo\\App\\Redux\\reducers\\index.js": could not resolve "./C:\\Users\NAME\\Desktop\\BeoNews\\beonews-expo\\App\\Redux\\reducers\\layouts' as a file nor as a folder","name":"UnableToResolveError","type":"UnableToResolveError","errors":[{}]},"type":"bundling_error"}"

I got this error after downloading the latest version

[2017-12-28 09:29] louierosero-gss commented on #110
This issue is resulted by merging the previous version and the latest version 2.8.0 of BeoNews.

[2017-12-28 09:29] #110 closed

[2017-12-28 12:15] mezzat11 opened #111 "blank page after adding new payment gateway"
i get black page in the app after adding new payment gateway
![screenshot_1514390406](https://user-images.githubusercontent.com/34794248/34410503-89c2267a-ebd9-11e7-82ba-bc40bc8c9f48.png)
working on website normally !

more details sent by email

[2017-12-28 12:19] mezzat11 opened #112 "bug with shipping method selection"
![2017-12-28_141802](https://user-images.githubusercontent.com/34794248/34410577-ee5392fe-ebd9-11e7-9fbd-21660b487d28.jpg)
cann't unselect " free shipping " method

[2017-12-28 13:29] Snakepli opened #113 "Build Failed 3.4.3"
Build Failed with Store :

** BUILD FAILED **

The following commands produced analyzer issues:

	Analyze RCTLocationObserver.m
(1 command with analyzer issues)

The following build commands failed:
	CompileC /Users/adrien/Downloads/mstore-v3.4.3/mstore-pro/ios/build/Build/Intermediates.noindex/RCTGeolocation.build/Debug-iphonesimulator/RCTGeolocation.build/Objects-normal/x86_64/RCTLocationObserve

[2017-12-28 15:15] inspireui commented on #110
Thank you for your noted @louierosero-gss

[2017-12-28 15:20] inspireui commented on #113
Could you try to run it from Xcode ?

or try to run the script to see what's happen:
`node node_modules/react-native/local-cli/cli.js bundle --entry-file='index.ios.js' --bundle-output='./ios/beostore/main.jsbundle' --dev=false --platform='ios' --assets-dest='./ios`

[2017-12-28 16:08] Snakepli commented on #113
Thanks. Works.

[2017-12-28 16:08] #113 closed

[2017-12-28 18:47] eric90066 commented on #90
Sounds great.  Look forward to testing this out.  Cheers.

[2017-12-29 11:53] mgolkardev commented on #72
Hi @inspireu
Thank you for 3.4.4 release.
I update my project to 3.4.4 version but `RTL bug in first run` not fixed!

Please watch this video:
https://youtu.be/n4H04dnUeDU

Thank you for your support.

[2017-12-29 17:46] MechEight commented on #109
Hi, just to let you know that I'm still having this issue after updating to v3.4.4

[2017-12-29 18:15] martinledjo commented on #107
Same error on 3.4.4 on the expo app when i click on news the app freeze 4 seconds and the news appear on the 3.3.3 i don't have any freeze

[2017-12-29 18:38] mezzat11 opened #114 "issue when order product with utf-8 title"
![screenshot_1514390094](https://user-images.githubusercontent.com/34794248/34444626-182ff384-ecd8-11e7-9c73-0e963733c484.png)

[2017-12-29 22:03] mezzat11 commented on #111
same problem after updating to 3.4.4

[2017-12-29 22:04] mezzat11 commented on #112
fixed .. thank you

[2017-12-29 22:04] #112 closed

[2017-12-30 05:01] shweta-bavishi opened #115 "Bug: Search Products Not Working"
Hey there,

I finished integrating a lot of features on Mstore through my website: https://smartify.in.

I'm only left with one critical one, which is-- Search.

Here's what happens when I try to search by product name:

![screen shot 2017-12-30 at 10 26 56 am](https://user-images.githubusercontent.com/12051018/34451449-013da8a0-ed4c-11e7-9954-2dbe9a00df6c.png)

![screen shot 2017-12-30 at 10 27 4

[2017-12-30 16:35] inspireui commented on #109
Hi @MechEight could you send us (support@inspireui.com) your website URL and the consume key connect to your site - we will have a check on your site - thank you!

[2017-12-31 17:17] martinledjo commented on #108
Error on 3.4.4 "Hello undefined" after signup no account create

[2017-12-31 17:51] martinledjo opened #116 "Error signup with update "Hello Undefined""
When i signup on the app i have the message "Hello undefined" and i'm am not connected
![image](https://user-images.githubusercontent.com/34414960/34463418-a3c7d75c-ee5b-11e7-8ac5-8538a272daf2.png)

[2018-01-01 17:46] martinledjo commented on #116
and the issues news are not fix on expo version !

[2018-01-01 20:45] martinledjo commented on #116
On expo version, i can see pictures, 0 pictures for products 0 pictures for categories, 0 pictures for news
![image](https://user-images.githubusercontent.com/34414960/34470971-1a10863e-ef3d-11e7-94a3-9a91bc4e90fb.png)

[2018-01-01 21:30] eric90066 commented on #90
This update has greatly improved the images issue.  Now I can begin testing other areas.
Thanks for the work.

[2018-01-01 21:30] #90 closed

[2018-01-01 21:47] martinledjo commented on #116
and the news issues are not fixed in expo version

[2018-01-01 22:02] eric90066 opened #117 "Unable to reach bottom of product page"
The responsiveness and performance of the product pages and categories pages are much improved with v3.4.4.  It finally brings hope that the app is finally working with my website.

The issue now is - when scrolling down the page there is clearly additional information/text that I cannot reach because the scroll will not go down far enough.

Please advise.

In addition - can you please tell me how

[2018-01-02 22:39] martinledjo commented on #116
I have resolve the signup

[2018-01-03 16:12] inspireui commented on #107
Hi @martinledjo could you try to update `lazy: true` from navigation/index.js to see if it can be fix for the menu? Which OS and device you are using for the testing?

[2018-01-03 16:14] inspireui commented on #114
Could you pasted the title string that cause the issue? it looks ok with my testing for the utf8 title

[2018-01-03 16:16] inspireui commented on #116
Thank you for your quickly updated. You can copy the sign in component from pro to expo version as well.

[2018-01-03 16:16] #116 closed

[2018-01-03 16:17] #108 closed

[2018-01-03 16:17] #101 closed

[2018-01-03 16:17] #87 closed

[2018-01-03 16:21] inspireui commented on #115
Could you try to open Reactotron - https://mstore.gitbooks.io/mstore-manual/content/chapter2.html and send us the URL when processing search on your website ?

[2018-01-03 16:23] inspireui commented on #117
Hi, there is the HorizonLayout section from the config.js file where you can config for the layout banner

[2018-01-03 16:24] inspireui commented on #111
Hi, could you open Reactotron which can be install by this guide https://mstore.gitbooks.io/mstore-manual/content/chapter2.html - then send us the URL when you request the mstore-checkout URL to the server ?

[2018-01-03 16:54] brst-pc70 opened #118 "Images are not coming in physical device."
We setup the mstore code on our server and generate the consumerKey and consumerSecret. These keys we are using in the react native app, data and images are coming in simulator, but when we use the physical device, only data is showing not the images. When we use the given  consumerKey and consumerSecret of mstore app, images and data are shown in both physical and virtual device. Please help in t

[2018-01-03 17:00] mezzat11 commented on #114
I discovered that the problem was due to address fields " when enter UTF-8 like arabic strings
عنوان تجريبي
' the problem happened

[2018-01-03 17:04] mezzat11 opened #119 "Issues with rtl .. please fix it soon"
all details sent in email
thank you

[2018-01-03 17:26] mezzat11 commented on #111
https://goo.gl/jysVq8

[2018-01-03 17:44] mezzat11 commented on #111
same blank page
working normally from web !

[2018-01-03 18:22] mgolkardev opened #120 "Focus on TextInput in the ScrollView have bug"
Hi
When typing, if you tap on another TextInput, the keyboard closes.

![0000111](https://user-images.githubusercontent.com/4500080/34534595-f2f0a80c-f0d3-11e7-94f9-63c8970b130c.gif)

https://github.com/facebook/react-native/issues/17434

Thanks.

[2018-01-03 18:35] shweta-bavishi commented on #115
Here’s the screenshot from React-Tron:

And here’s the website URL: https://smartify.in/shop/ <https://smartify.in/shop/>

[2018-01-03 21:06] MechEight commented on #109
@inspireui The issue happened only on my local woocommerce installation. After setting up our online server and connecting to that, logging in works fine so I'll close the issue. Thanks.

[2018-01-03 21:06] #109 closed

[2018-01-04 03:16] inspireui commented on #109
Thank you for your update

[2018-01-04 10:53] shweta-bavishi opened #121 "Table elements are not showing in the description section"
On passing the following div element to the description section:

[code]
The Description section in the woocommerce website is:
![tableerror](https://user-images.githubusercontent.com/12051018/34560133-b401927c-f16a-11e7-864b-f678f092ca6e.png)

Whereas, in the simulator the table element is not visible and moreover the link in the description section cannot be opened:
![tableerror2](https://user-i

[2018-01-05 01:38] inspireui commented on #118
Hi, are you using from local server or hosting, please share your URL then we could have a check? If you are using from local then make sure your device can reach to the local url (virtual host). Thank you!

[2018-01-05 02:06] inspireui commented on #120
Thank you, could be the Android OS issue, could you try on difference android version ?

[2018-01-05 05:20] nofearsk opened #122 "How to change the Background color"
Hi
 I need to change the background color. Can i know which setting to change.

[2018-01-05 08:35] brst-pc70 commented on #118
Here is the url and keys which i am using for getting data :
url: "http://beta.brstdev.com/eshop"
consumerKey: "ck_90ae67caa12282124c4b3987ba0cee86c9ee6dbe",
consumerSecret: "cs_8b388684cc26dc0e5c389efeb42ad8e62178dd82"

[2018-01-05 11:10] Taimoormk opened #123 "Build Failed on iOS"
On iOS I am getting following build failed error;

<img width="571" alt="screen shot 2018-01-05 at 16 08 26" src="https://user-images.githubusercontent.com/27800340/34606865-d1c8fdcc-f232-11e7-9642-9b271f700428.png">

When I ran the app via Xcode I am getting following error message;

<img width="1402" alt="screen shot 2018-01-05 at 16 09 50" src="https://user-images.githubusercontent.com/27800340

[2018-01-05 12:36] Taimoormk commented on #123
Closing this issue, as I found the solution by implementing fix as described here, https://mstore.gitbooks.io/mstore-manual/chapter7.html

[2018-01-05 12:36] #123 closed

[2018-01-05 16:23] eric90066 commented on #117
Perhaps I am looking at the wrong place.  The image above "Brand New" is appearing the the category Brand New.  That image's name is Feature.  What is the name of the image on the home page.

In addition, added some new items on the site and for some of them I am getting the following error

![screen shot 2018-01-05 at 11 03 50 am](https://user-images.githubusercontent.com/5639308/34617355-27e108d

[2018-01-07 11:53] mezzat11 commented on #111
????

[2018-01-07 19:29] mgolkardev commented on #120
Hi
The bug fixed.
please see facebook/react-native#17434
Thanks.

[2018-01-07 19:29] #120 closed

[2018-01-08 08:31] shweta-bavishi commented on #115
There’s an another issue https://github.com/inspireui/mstore/issues/121 <https://github.com/inspireui/mstore/issues/121>. Can you please solve this issue too?

[2018-01-08 20:47] martinledjo opened #124 "The android release app crash at start"
I did all the tasks of the documents : https://mstore.gitbooks.io/mstore-manual/content/ all work great for ios i don't have problem but on android the app crash at start when i make a release app. I don't understand because the react-native run-android work great. I don't have warnings or errors when i build.

[2018-01-09 01:14] okaka14 opened #125 "Request features: Ajax Search feature"
Are there any plans to include Ajax search functionality in the app?

[2018-01-09 01:50] inspireui commented on #111
Hi, did you try to update the latest plugin https://github.com/inspireui/mstore/tree/master/plugins/mstore-checkout ?

Can you comment the line 491 from the file /plugins/mstore-checkout/templates/mstore-checkout-template.php on your side then resend me the link, your submit form when payment could have an issue

[2018-01-09 01:52] inspireui commented on #121
Hi we are checking this issue and will have patching if we can find a bug on next v3.4.5 - thank you!

[2018-01-09 01:53] inspireui commented on #115
@shweta-bavishi  i could not see the "screenshot from React-Tron" pls upload it again.

[2018-01-09 01:55] #119 closed

[2018-01-09 01:56] inspireui commented on #122
You can change it from the src/common/Color.js

[2018-01-09 01:56] #122 closed

[2018-01-09 01:58] inspireui commented on #125
it's already added since v3.3 please check the search icon at the tab bar. Thank you!

[2018-01-09 01:58] #125 closed

[2018-01-09 02:00] inspireui commented on #124
Hi it could be caused by missing config from your release mode on Android, can you try to install https://github.com/getsentry/react-native-sentry then investigate the crashing issue. Also have a look to this detail user guide -https://facebook.github.io/react-native/docs/signed-apk-android.html

[2018-01-09 02:46] inspireui commented on #118
[Tools.js.zip](https://github.com/inspireui/mstore/files/1613714/Tools.js.zip)

Hi, could you try to extract then override this file to src/common/Tools.js to see if it can be fixed your issues.

If it could not fixed, try to send us some category id for tag if from your backend side to config the HorizonLayout, is it all ok from your local side?

[2018-01-09 05:03] shweta-bavishi commented on #115
![screen shot 2018-01-09 at 10 32 08 am](https://user-images.githubusercontent.com/12051018/34705714-7817c8a0-f528-11e7-8389-e45aee9e7621.png)

[2018-01-09 06:44] abhibavishi commented on #115
Hi @inspireui, can you please resolve the above error, asap? We are almost ready for launch, but search is not working on the app, right from the start. It's working fine on the website, and also on the Wordpress portal.

[2018-01-09 06:53] inspireui commented on #115
could you send the config.js file on that site to my email: support@inspireui.com, then i can debug from our side - thank you!

[2018-01-09 09:13] mezzat11 commented on #114
working normally when selection payment method " cash on delivery "
but get this error when select any other payment methods which using webview

[2018-01-09 11:11] martinledjo commented on #124
it's fix but i have a question, why on android
![image](https://user-images.githubusercontent.com/34414960/34718140-dbb4ea2a-f535-11e7-8b8b-4bba86c8382b.png)
the "URL" custom page make a blank screen and don't show the content.
I want to show a user panel but it's impossible with "ID wordpress" custom page with iframe and redirection because the width and scale is bad.

[2018-01-11 06:15] abhibavishi commented on #115
The config file has been sent a couple of days back. Can you please check, again? We are only awaiting your help on this issue.

[2018-01-11 07:41] #115 closed

[2018-01-11 07:42] inspireui commented on #115
you can submit refund for this product if you are happy with the product, thanks

[2018-01-11 07:43] inspireui commented on #124
we are checking the issue and it will fix on next version - thank you!

[2018-01-11 07:51] inspireui commented on #111
Hi @mezzat11 it looks ok with the payment but we could find out was blank after submit (http://khtwah.info/store/checkout/) could you try to config subdomain - store.khtwah.info, instead of /store ?

[2018-01-11 07:53] inspireui commented on #114
Hi, could you you send us the mstore-checkout URL from Reactotron (https://mstore.gitbooks.io/mstore-manual/content/chapter2.html) when process the payment, we will help to investigating. Btw, we are checking the arabic string - thank you!

[2018-01-11 09:20] mezzat11 commented on #114
![2018-01-11_111835](https://user-images.githubusercontent.com/34794248/34817663-35298ed0-f6c1-11e7-9be7-6c66aab26f87.jpg)
logs not reach to mstore-checkout url
{
  "message": "InvalidCharacterError: The string to be encoded contains characters outside of the Latin1 range.\n\nThis error is located at:\n    in Cart (created by Connect(Cart))\n    in Connect(Cart) (at CartScreen.js:18)\n    in CartS

[2018-01-11 09:22] martinledjo commented on #124
I want to upload my app for the 20 january, the update will be release before the 20 ?

[2018-01-11 09:25] martinledjo commented on #124
please fix this too
![image](https://user-images.githubusercontent.com/34414960/34817987-c4d3e524-f6b9-11e7-8fb5-a0c372f7194d.png)

[2018-01-11 09:48] inspireui commented on #111
Linked to https://github.com/inspireui/mstore/issues/114 could be the same root cause - we will investigate

[2018-01-11 09:51] mezzat11 commented on #111
but #114 problem happen with arabic strings
this problem happen with english ( like link i sent to you ) !

[2018-01-11 10:36] martinledjo commented on #107
It's already "lazy: true"

[2018-01-11 11:16] abhibavishi commented on #115
It's not working for me. If it's not a bug, it should work, right? How much would you guys charge for making search work, from the server side?

I don't want any refund; I want to launch the app, as soon as possible.

[2018-01-11 18:29] shweta-bavishi opened #126 "The variants are not scrollable"
When I try to open the product, the variants of the products are not scrollable, when there are more than 4 options.
![variant](https://user-images.githubusercontent.com/12051018/34840548-5155f750-f72b-11e7-9e90-26e75108063e.png)
Kindly suggest how to make it scrollable.

[2018-01-11 18:33] shweta-bavishi commented on #121
I've solved the issue by making some of the changes in the code. Tables can be rendered inside the component by removing "table","tr" and "td" from the IGNORED_TAGS in the react-native-render-html library. Moreover, link can be opened by adding the method "Linking.openURL()"

[2018-01-11 18:33] #121 closed

[2018-01-12 08:26] shweta-bavishi opened #127 "Reviews cannot be posted"
Under the product section, the reviews can be viewed but there is not an option to post a review. So can you help me with implementing this functionality
![whatsapp image 2018-01-12 at 1 49 41 pm](https://user-images.githubusercontent.com/12051018/34865870-5f2a23b8-f7a0-11e7-92c3-2575c4528c0d.jpeg)

[2018-01-12 14:11] martinledjo commented on #124
I fixed CUSTOMPAGESCREEN by changing "url" to "URI".
But there is a problem, the input file does not work because the WEBVIEW of react-native for android is not compatible with the input file.

Can you help me ?

[2018-01-13 16:42] techview51 opened #128 "MStore Pro: Shows Nothing, No Products, No Categories, No Images"
I bought Pro version. Carefully done everything described in docs.
No result. Just works on your site. I checked 2 websites and no success.
I started with the Android version.
Help plz.

[2018-01-16 12:16] Ghulamhaider12 opened #129 "mstore registation error"
Invalid access, unverifiable  'once' value use the get_nonce core Api method
please help me asap

[2018-01-16 12:19] Ghulamhaider12 commented on #128
same problem here

[2018-01-16 12:24] Ghulamhaider12 commented on #129
please help me its urgent

[2018-01-16 12:26] #129 closed

[2018-01-16 12:39] Ghulamhaider12 opened #130 "mstore Registation error"
![Uploading Screenshot_20180116-151341 (1).png…]()
]

[2018-01-16 12:40] Ghulamhaider12 commented on #130
![screenshot_20180116-151341 1](https://user-images.githubusercontent.com/27043983/34989441-59b552c6-fae4-11e7-927b-1624ef590256.png)

[2018-01-16 12:40] Ghulamhaider12 commented on #130
please help me

[2018-01-16 12:49] calebdomingo commented on #126
same problem here

[2018-01-16 12:51] calebdomingo opened #131 "Variants not displaying correct price"
Hello,

There seems to be a bug with the variants. When selecting variants with different prices, the correct product pricing does not update. Using expo version for this.

Thanks!

[2018-01-16 15:12] inspireui commented on #127
Hi, we have update this as the request feature and will consider to update on later versions - thank you for your suggestion

[2018-01-16 15:15] inspireui commented on #124
Hi @martinledjo please try to update the styles.js from the PostLayout to fixed the issue with your currency, this could be quick job by adjust the height and padding.

Could you show us your URL then we can test and fix on the Android

[2018-01-16 15:22] inspireui commented on #130
Please update the latest v3.4.4 and also the plugins from https://github.com/inspireui/mstore/tree/master/plugins will fix this issues

[2018-01-16 15:59] inspireui commented on #126
could you try with this fix, replace View by Scrollview (file Containers/Detail/index.js)

<img width="1109" alt="screen shot 2018-01-16 at 10 58 21 pm" src="https://user-images.githubusercontent.com/29778334/34998128-d4f21a4c-fb10-11e7-90ea-71db4f97dd17.png">

[2018-01-16 16:00] inspireui commented on #131
Hi, we will have a check on this issue

[2018-01-17 02:19] eric90066 commented on #117
Are we getting any updates here????  I posted my issues almost two weeks ago.

[2018-01-17 02:25] inspireui commented on #117
[index.js.zip](https://github.com/inspireui/mstore/files/1637511/index.js.zip)

As far as our team investigate with this issue it was caused by the webview when showing some detail post, please try to copy the attache file and override to Components/WebView/index.js

Make sure to run 'yarn install sanitize-html' to use this component

Let us know your checking from your side.

[2018-01-17 16:06] shweta-bavishi commented on #126
I have tried this fix. The code that I changed is:

[code]

On making the following changes, when I click on the product, it shows me the following error:
![simulator_ss](https://user-images.githubusercontent.com/12051018/35052790-711ae148-fbce-11e7-923a-297f08b2b1c3.png)

[2018-01-19 02:52] xa9 opened #132 "‘React/RCTBridgeModule.h’ file not found"
‘React/RCTBridgeModule.h’ file not found

I have a problem and I am tired to solve it and have used more than one solution and no modification of the problem.

solution 1 :

I check the solution here – https://mstore.gitbooks.io/mstore-manual/content/chapter7.html and no modification .

solution 2 : I try with this script to see if it can be fixed – https://gist.github.com/inspireui/00e6f757c137b2

[2018-01-19 15:36] inspireui commented on #132
Hi could you share your screenshot from Edit schema base on this guide - https://mstore.gitbooks.io/mstore-manual/content/chapter7.html

And show us the detail log and click to red icon warning on XCode

[2018-01-19 18:25] inspireui commented on #126
Hey sorry, i was mean this

`const renderAttributes = () => < ScrollView >
      {typeof this.productAttributes !== "undefined" && this.productAttributes.map((attribute, attrIndex) => (
        <View key={"attr" + attrIndex}
              style={[styles.productSizeContainer, Constants.RTL && {flexDirection: 'row-reverse'}]}>
          {attribute.name !== Constants.productAttributeColor && attribut

[2018-01-19 19:12] xa9 commented on #132
ok
![screen shot 2018-01-19 at 10 05 47 pm](https://user-images.githubusercontent.com/29809274/35167208-adc3f790-fd65-11e7-8b82-dfd3b43a4e3b.png)
![screen shot 2018-01-19 at 10 06 38 pm](https://user-images.githubusercontent.com/29809274/35167209-adff3a08-fd65-11e7-9886-b16728d408fa.png)
![screen shot 2018-01-19 at 10 09 50 pm](https://user-images.githubusercontent.com/29809274/35167235-beb957b6-f

[2018-01-20 02:17] inspireui commented on #132
<img width="1002" alt="screen shot 2017-12-13 at 9 10 05 pm" src="https://user-images.githubusercontent.com/29778334/35178920-9ce10122-fdc2-11e7-8676-9616c12b9a18.png">

Hi, it is not the same as screenshot, please try to uncheck the parallize Build and the React should be ordered on top

[2018-01-20 03:18] xa9 commented on #132
thanks , its ok sorry 👍

[2018-01-20 03:19] inspireui commented on #132
no worries, kindly close the issue if you have resolved it :)

[2018-01-20 03:23] xa9 commented on #132
ok , you can close it

thanks a lot

[2018-01-20 03:23] #132 closed

[2018-01-20 05:56] shweta-bavishi commented on #126
Thank you. This solution worked for me 👍

[2018-01-20 05:57] #126 closed

[2018-01-21 13:51] mohamedibrahim89 opened #133 "app not read product or category"
i pursache ur product and make all thing from documentation
test app from window read wordpress users
but dont read product or category's
i made api as u say https://www.deallak.net/wp-json/wc/v2
plzz see attachment photo
![image](https://user-images.githubusercontent.com/35544603/35194852-d05137c4-fec2-11e7-9cd9-94bce44bed6e.png)
![image](https://user-images.githubusercontent.com/35544603/3519485

[2018-01-21 16:26] leutrimraifi opened #134 "RCTOneSignal.h Not found"
I want to build for ios but i have this problem OneSignal.h not found plus for facebook sdk i see on my Documts i dont have folder with name FacebookSDK i create it and i past it from your link it is ok ?

[2018-01-21 18:41] dweb2012 opened #135 "Some smalls problems"
Hello
1) I have Only One category, how to display in the homepage posts as card without slider (as in the category page) ?
2) How to restrict news to a specific category ?
3) Contact page having form contact in the original website, how can i make it working or adding basic contact form ?
4) Added new menu item
`WebPages:` {marketing: `'https://www.yahoo.com/'},`
Menu item diplayed but nothing hap

[2018-01-21 19:27] dweb2012 opened #136 "Add a welcome or intro text"
Hello
How to add a welcome text in the homepage ?
Thank you

[2018-01-21 20:52] #111 closed

[2018-01-22 08:12] shweta-bavishi commented on #104
Any update on this? We are facing the same issue

[2018-01-23 14:02] naserbeheshti commented on #128
@inspireui , I checked with predefined and 2 other sites, the problem still exists.
The problem also exists in beonews.

There is a serious problem:
1. Your setup guide asks to install JSON API plugin, which has a default path to retrieve data from "api" path:
mydomain.com/**api**
but your app code calls JSON data from another path. For example:
**/wp-json/wp/v2/**
You can see this conflict in "Wo

[2018-01-24 08:34] inspireui commented on #133
Hi @mohamedibrahim89 could you share your config.js file here so that we will help to check - thank  you!

[2018-01-24 08:37] inspireui commented on #134
@leutrimraifi yes it is ok, you can create the folder and paste all file to there, like this screenshot

Then try to run "react-native link" from your project folder and execute the app again.
Thank you!

<img width="717" alt="screen shot 2018-01-24 at 3 36 11 pm" src="https://user-images.githubusercontent.com/29778334/35322312-61efb6dc-011c-11e8-9729-fa73f3e5e4bf.png">

[2018-01-24 08:41] mohamedibrahim89 commented on #133
import Images from "./Images"
import Constants from './Constants'

export default {
  /**
   Step 1: change to your website URL and the wooCommerce API consumeKey
   */
  WooCommerce: {
    url: 'https://deallak.net',
    consumerKey: 'ck_b93c471308607703d38f1079823ec811e5c98ed3',
    consumerSecret: 'cs_0753fcc46b3882dbda177fe69fa4f531a37b8665',
  },

  /**
   Step 2: Setting Product Images
   -

[2018-01-24 08:55] inspireui commented on #104
Hi, i've updated as a bug for next v3.4.5 release. Thank you!

[2018-01-24 09:45] inspireui commented on #134
<img width="1619" alt="screen shot 2018-01-24 at 4 43 08 pm" src="https://user-images.githubusercontent.com/29778334/35325270-ca145570-0125-11e8-9449-e57656e714d5.png">

You can also try to remove reference the RCTOneSignal.xcodeproj and drag it again from the node_module/react-native-onesignal/ios folder

[2018-01-24 09:50] inspireui commented on #128
Hi @naserbeheshti most of the feature API is still use the default Wordpress 4.7, the JSON API  is only use the registration user feature as the default api is not supported.

You can share your config.js file here then we will help to check your issue - thank you!

[2018-01-24 10:25] inspireui commented on #133
Hi, your issue is the WooCommerce API is not enable so that you could not get data from the URL:
<img width="1674" alt="screen shot 2018-01-24 at 5 19 43 pm" src="https://user-images.githubusercontent.com/29778334/35327063-1f1b80b6-012b-11e8-8616-79ef6098a06e.png">

You can see the difference from:
https://www.deallak.net/wp-json/wc/v2/
and mstore.io/wp-json/wc/v2/

Solution: update your setting t

[2018-01-24 13:51] mohamedibrahim89 commented on #133
I already do that
Sorry for distrbuite but u dont know why api not send data

On 24 Jan 2018 12:25 pm, "InspireUI" <notifications@github.com> wrote:

Hi, your issue is the WooCommerce API is not enable so that you could not
get data from the URL:
[image: screen shot 2018-01-24 at 5 19 43 pm]
<https://user-images.githubusercontent.com/29778334/35327063-1f1b80b6-012b-11e8-8616-79ef6098a06e.png>

You

[2018-01-25 01:48] inspireui commented on #135
Hi

1. You can edit the HorizonLayout from config.js file to update the layout and category

2. This feature is not support from the config but you could edit the function fetchNews from redux/NewsRedux.js

3. You can use WebView to load whole page then the js will be support - https://facebook.github.io/react-native/docs/webview.html

4. Let try with other URL as the Webview could limit to some w

[2018-01-25 01:48] #135 closed

[2018-01-25 01:50] inspireui commented on #136
<img width="1215" alt="screen shot 2018-01-25 at 8 48 54 am" src="https://user-images.githubusercontent.com/29778334/35366538-99bf105e-01ac-11e8-9429-0b26159aa0c6.png">

We have the welcome message after user login success full, you can use similar method with toast function, or if you would like to show as the banner hompage, edit it from HorizonLayout - config.js file

Hope this help. Thank you!

[2018-01-25 01:50] #136 closed

[2018-01-25 01:54] inspireui commented on #133
i have got your issues, the root cause is there are a lot of api enable from your site, you can get the list from https://www.deallak.net/wp-json

My solution is change this file config from the app - src/services/WooWorker.js
Change:   version: 'wc/v2'  to   version: 'wc/v1',

<img width="1091" alt="screen shot 2018-01-25 at 8 52 29 am" src="https://user-images.githubusercontent.com/29778334/3536

[2018-01-25 09:38] mohamedibrahim89 commented on #133
Ys worked thank u very much
What about payfort payment

On 25 Jan 2018 3:54 am, "InspireUI" <notifications@github.com> wrote:

[2018-01-25 12:31] mohamedibrahim89 commented on #133
now everything is ok
app read api category's and product
but not show any image from website i attach  config.js ,omni, appi screen
shoot photo

and plz need to know if i want u to add payfort payment to app how much
will it cost
thanks in advice

[image: Inline image 4]

[image: Inline image 3]

[image: Inline image 2]
[image: Inline image 1]

On Thu, Jan 25, 2018 at 11:38 AM, Mohamed Ibrahim <
m

[2018-01-26 14:43] shweta-bavishi commented on #104
Facing the same issue. I have added the url in Config.js file.
`WebPages: {Marketing: 'https://smartify.in/contact-us/'}`

The custom pages are working perfectly fine for iOS devices, but showing blank pages for android devices

[2018-01-26 14:45] shweta-bavishi opened #137 "Custom pages not working for android"
I want to customize my Custom page. So I've added following code in Constants.js file:

`WebPages: {Marketing: 'https://smartify.in/contact-us/'}`

The custom pages are loading perfectly fine for iOS devices, but showing blank pages for android devices

[2018-01-27 18:37] levi-beers commented on #137
I too am experiencing this. The custom webview pages work on iOS but just show a white page with the tabbar visible on Android. Any quick fix that we can do on our end for this issue?

[2018-01-27 19:42] levi-beers commented on #137
To resolve the issue of Custom WebView pages not working on Android devices, locate the src/navigation/CustomPageScreen.js file and change the WebView controller to "uri" not "urL"

`return <WebView source={{uri: state.params.url}}/>`

[2018-01-28 05:58] shweta-bavishi commented on #137
The solution worked for me.. Thanks :)
But I am not able to see any menu option at the top of the controller. So is there any solution for that?

[2018-01-28 17:03] levi-beers commented on #137
I'm working on that issue in my app today. If I'm able to overcome the problem I'll post my workaround.

[2018-01-29 04:20] lin-zy1229 opened #138 "Cannot find entry file index.android.js in any of the roots:"
I unzipped mstore-pro.zip file, did 'yarn install' in cmd, and it succeeded.
When I run android studio with 'react-native start', this error shows.
What is the reason?

<img src='https://image.prntscr.com/image/fsdr5bhzQ_WdazndSEx32Q.png'>
</iimg>

[2018-01-29 17:04] inspireui commented on #133
Thank you for your confirm, allow me to close the issue as all fix.

Please contact to support team support@inspireui.com to get the quotes for payfort support - thank you!

[2018-01-29 17:04] #133 closed

[2018-01-29 17:16] inspireui commented on #137
Thank you so much for your help @levi-beers

Confirm change url to uri will fix the issue (it will be update on next version) as well

[2018-01-30 09:06] mohamedibrahim89 opened #139 "Two error in app splash page"
1)Splash page not load in app how can i config it
2)minni bannar not load i dont know why
Can i make minibannar photo
![screenshot_20180130-110341](https://user-images.githubusercontent.com/35544603/35619453-c8632c36-0686-11e8-8d60-10ec7d90e22b.png)

[2018-01-30 13:35] emiryayla opened #140 "Solution: payment section problem"
where i can resize in app images which css file
and why when i trying in payment section (webview) show 404 page not found?

![simulator screen shot - iphone 8 plus - 2018-01-30 at 16 57 20](https://user-images.githubusercontent.com/17924493/35570719-0a1904f8-05e1-11e8-95f9-3edf2be26cf4.png)

[2018-02-01 16:10] smdanishiqbal opened #141 "stuck on Resolving dependencies ':react-native-fbsdk:_ after running react-native run-android"
```<img src="http://bestodesigns.com/clients/issue.png">`

[2018-02-01 22:10] levi-beers commented on #138
If you are receiving this error using an actual Android device try using the Android simulator to see if it goes away. See https://github.com/facebook/react-native/issues/15070 for more information. To test on a physical device, I had to build the APK and install that way.

[2018-02-02 12:59] lin-zy1229 commented on #138
I resolved this issue, changing project's `build.gradle`
from
`url "$rootDir/../node_modules/react-native/android"`
to
`url "$rootDir/node_modules/react-native/android"`

[2018-02-02 17:15] #141 closed

[2018-02-02 17:23] smdanishiqbal opened #142 "Checkout button not working !!"
when i press confirm order  using a payment gateway its opens a inapp browser which says 404 page not found??
![27745097_1813673191996918_2133461506_o](https://user-images.githubusercontent.com/10116452/35746130-9850f6f8-0867-11e8-9e4a-642745534a59.png)

![27745070_1813673225330248_1871169900_o](https://user-images.githubusercontent.com/10116452/35746147-a8a035be-0867-11e8-9758-5fbc51e4629b.png)

[2018-02-03 11:15] smdanishiqbal commented on #140
same issue .
![27745070_1813673225330248_1871169900_o](https://user-images.githubusercontent.com/10116452/35766612-6d688c26-08fd-11e8-8521-e5d1cc760af9.png)

[2018-02-03 16:01] inspireui commented on #139
1. splash screen on Android have a bug and we will resolve on v.3.4.5 - https://github.com/inspireui/mstore/issues/104
2 you can double check the config for your miniBanner, make sure the tag id or category is correctly

[2018-02-03 16:01] #139 closed

[2018-02-03 16:05] inspireui commented on #140
At @emiryayla and @smdanishiqbal please share your config.js file to our support email support@inspireui.com we will help to have a check on your site - thank you!

[2018-02-03 16:22] inspireui commented on #142
please see the response from - https://github.com/inspireui/mstore/issues/140

[2018-02-03 16:22] #142 closed

[2018-02-03 16:31] mohamedibrahim89 commented on #139
Can i make banner photo not product
If i can how plz

On 3 Feb 2018 6:01 pm, "InspireUI" <notifications@github.com> wrote:

[2018-02-03 16:46] #138 closed

[2018-02-04 18:14] techview51 commented on #128
@inspreui, Thanks. I know about config. There were other problems. I handled them.

[2018-02-04 18:14] #128 closed

[2018-02-04 18:19] techview51 opened #143 "RTL issues"
I added new Language to the app, and now, when I want to finalize the purchase, following error raises on the android device:

I think it could be about "btoa". Need a solution ASAP. Thanks.

[2018-02-05 00:48] lin-zy1229 opened #144 "Stripe Payment shows 404 error in webview, even using mstore.io with default key in Config.js is error, And mstore.local shows "Can't get data from server.""
I am trying version pro 3.4.4

- My host with my consumer key in Config.js is 404 error in Stripe payment webview.
- mstore.local shows "Can't get data from server."
- mstore.io with default key in Config.js is error in Stripe payment, see below image.
<img src='https://image.prntscr.com/image/ZMbShDVWQK6WauVxMQUS_g.png'><img>

[2018-02-05 00:49] inspireui commented on #143
This is related to https://github.com/inspireui/mstore/issues/114 - could you share your config.js file so that we have more data to test?

[2018-02-05 05:23] techview51 commented on #143
Maybe another way? It is not secure to publish API keys mentioned the config.js over the internet.

Some useful information:
1. Using the Arabic language (Added to Languages.js)
2. Products have Arabic names.
3. The payment gateway is a local brand and has an Arabic name and description.
4. Currency symbol has UTF-8 characters.

[2018-02-06 03:33] calebdomingo commented on #140
I have the same problem but with PayPal. It shows a 404 error when checkout button is pressed. I hope you guys can fix this asap.

[2018-02-06 06:17] srinivasgupshup opened #145 "App installtion"
Hi Team,

We are panning to buy app if we are not able to configure do u charge for installation. if we buy Regular licence is for life time right $59 is one time cost right...

[2018-02-06 06:55] techview51 opened #146 "There is no "require('moments/locale/ar') ""
Hi,

First, The document addresses TimeAgo.js in `Components/Custom/react-native-timeago` but there is not such file. The correct path is `node_modules/react-native-timeago`.

Second, I did a hole search in the project(Pro) but did't find `require('moments/locale/ar')` as mentioned in the [document](https://beonews.inspireui.com/step-7-multi-languages.html).

Would you please help with this?
Thank

[2018-02-06 09:25] techview51 commented on #114
I have  the same problem: [InvalidCharacterError: The string to be encoded contains characters outside of the Latin1 range #143](https://github.com/inspireui/mstore/issues/143)
Maybe the reason is realted to encryption and decryption fucntions.... Hope to find a solution ASAP.

[2018-02-06 10:20] #114 closed

[2018-02-07 14:49] inspireui commented on #146
please have a look to this screenshot - https://gyazo.com/a4a51ad39e888eb380d7516fad5f22da version 3.4.4

[2018-02-07 15:48] techview51 commented on #143
@inspireui, Any good news?

[2018-02-07 21:43] ahmedgomaa2703 opened #147 "App Localization"
when i change language from english to arabic , some words changed and other not , also api didn't get arabic data when language changed

[2018-02-09 03:19] melhendawy opened #148 "Wishlist with out of stock product"
When you make a wishlist  from a out of stock products and open wishlist and press on add all to cart
All items added to the cart including the out of stock and the process completed to payment without any problem

[2018-02-09 11:14] smdanishiqbal commented on #140
@inspireui  any update regarding my issue ?? i already sent mail to support team but haven't receive any response yet.

[2018-02-09 14:00] techview51 commented on #146
@inspireui , My problem was about BeoNews. Here is wrong place and sorry for that.

[2018-02-09 14:18] Saadbadi opened #149 "Shipping Method problem"
Hi .
Please when i connect my website with MStore app. The shipping Method not display (not appear in checkout page )
But if i use ( http://mstore.io ) The shipping method appear
Note : in my website i  set the Shipping zones

[2018-02-09 19:07] #149 closed

[2018-02-11 00:47] lin-zy1229 opened #150 "Stripe payment is error in iOS Expo Demo."
Stripe payment is error in iOS Expo Demo, while other payment option looks good.
<img src='https://image.prntscr.com/image/H_XihVl-QHqvRBAf-AWHMg.png'></img>

[2018-02-11 07:21] Brdnn commented on #140
I am also facing the same issue which showing error 404 page after checkout with paypal. Any solution so far?

[2018-02-11 07:24] Brdnn opened #151 "Product types"
Hi, some of my woocommerce products are External/Affiliate product which after clicking the "Buy Now" button will redirect the customer to another link for checkout. Can I know how can I edit the product types in this app?

[2018-02-11 17:46] techview51 commented on #143
Any hope? I can not use the product because if this error. Would you please solve this problem?

[2018-02-12 04:50] #146 closed

[2018-02-12 08:34] inspireui commented on #145
Please help to view more detail about the licence from - https://codecanyon.net/licenses/standard?license=regular

You will get life time update for 59$, but please note that one regular licence only use for one end product app which use to delivery to Appstore & Google Play.

We have supported installing services but so far our time is full of capacity so that we could not handle more ticket

Tha

[2018-02-12 08:34] #145 closed

[2018-02-12 08:58] inspireui commented on #147
Hi, we will have a check and do more upgrade for the RTL language - thank you!

[2018-02-12 10:33] inspireui commented on #148
yeah, good point, we may add more validate on this case - thank you!

[2018-02-12 10:41] inspireui commented on #150
thank you, we are checking and will have an update

[2018-02-12 10:45] inspireui commented on #151
Hi, you can refer to this document to get the product detail - https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products

You may need to customize the API to return require affiliate link for your product, or could be the extra plugins that build by that services

[2018-02-12 10:45] #151 closed

[2018-02-12 10:54] minhcasi commented on #144
close as duplicate with issues/150

[2018-02-12 10:54] #144 closed

[2018-02-12 12:38] Brdnn commented on #151
May I know where should I change the API? in wordpress or in the app file?

[2018-02-14 11:11] Brdnn commented on #140
Thanks @stmkpj for the solution for this issue.
You have to create a new page name it: "mstore-checkout". Then select "Custom Page Template" as your page template for it.

![image](https://user-images.githubusercontent.com/36357486/36201352-adfcd3ee-11ba-11e8-9262-9e09a320a19e.png)

[2018-02-14 17:10] smdanishiqbal commented on #140
@Brdnn  Will u please explain it in steps?
I already created a msotre-checkout page in wordpress site but now its showing empty page ??

[2018-02-14 17:17] Brdnn commented on #140
@smdanishiqbal Firstly you need to create a page and name it "mstore-checkout" and remember dont set any parent page for it, then set page template to"page custom template".
*You need to install the mstore-checkout plugin at the first place.

Below is the screenshot for how to setting:
![image](https://user-images.githubusercontent.com/36357486/36218009-fcd213de-11ed-11e8-82ca-bae4bead8dc3.png)

[2018-02-15 16:22] inspireui commented on #151
From the app, you can update it form config.js file

[2018-02-15 18:24] steevivo opened #152 "'React/RCTBridgeModule.h' file not found"
Hi,
I have this message In XCODE #import <React/RCTBridgeModule.h> 'React/RCTBridgeModule.h' file not found
Thx

[2018-02-16 16:56] techview51 commented on #143
@inspireui Any solution? any reply? any action?

[2018-02-18 06:10] andybedoy commented on #140
Do the steps and tell me invalidate authentication cookie, please try login again.

any solution?

Someone wrote that it was utf-8 problem, i dont know

[2018-02-18 12:50] stmkjp commented on #140
@andybedoy  ,

check if your order data contains any of characters which cannot be converted with plain base64.encode functions.
(do console.log(this.state.order) in renderCheckout function in containers/Cart/index.js file)

And if so, modify the first line of renderCheckout function
from   ` const params = base64.encode(JSON.stringify(this.state.order));`
to `const params = base64.encode(encodeUR

[2018-02-19 06:59] shweta-bavishi opened #153 "Application takes time to load products"
When the user first time loads up the application, it takes approximately 15 seconds to load all the products in the dashboard section. How can I reduce this time frame?

[2018-02-19 14:47] smdanishiqbal opened #154 "Checkout Takes too much time to load in webview!!!"
After clicking checkout button its open webview where it takes approx. 15sec to load payment gateway details. it very confusing for users.?any Solution?

[2018-02-20 03:04] andybedoy commented on #140
thanks friend, its working for me!

[2018-02-21 05:31] z5614036 opened #155 "News menu issue - hope,twoColum,threeColumn,Card,etc..Flatlist need getItemLayout‘s props,"
there are many bug for no getItemLayout props to Flatlist

[2018-02-21 05:32] z5614036 commented on #155
fetch more data, if e.nativeEvent.ContentSize.height more than 8000 ,bug must be appearance;

[2018-02-21 14:53] inspireui commented on #152
Please resolve this issue by the solution from here - https://mstore.gitbooks.io/mstore-manual/content/chapter7.html

[2018-02-21 15:06] inspireui commented on #153
Hi, you can use turn this option to optimize the image loading:

// file config.js
ProductSize: {
    enable: true,
    CatalogImages: {width: 348, height: 445},
    SingleProductImage: {width: 568, height: 725},
    ProductThumbnails: {width: 78, height: 99},
  },

And make sure the product size match with your setting from the website, please refer to https://mstore.gitbooks.io/mstore-manual/con

[2018-02-21 15:06] #153 closed

[2018-02-21 15:09] inspireui commented on #154
Hi, could you review from your website performance and enhance the loading time, also try to unload the un-use JS file that load the the payment screens, this could be done by customize the plugins (mstore-checkout).

P/S: From the plugin, we load all JS as default to support Stripe payment for the demo

[2018-02-21 15:09] #154 closed

[2018-02-21 15:10] inspireui commented on #155
Hi, we will have a check and improve the Flatlist for News section - thank you!

[2018-02-21 15:12] #118 closed

[2018-02-21 15:14] inspireui commented on #117
closed, let me know if you still trouble with this solution - thank you!

[2018-02-21 15:14] #117 closed

[2018-02-21 15:14] #134 closed

[2018-02-21 15:15] #124 closed

[2018-02-21 15:15] #137 closed

[2018-02-21 15:17] inspireui commented on #143
Please try the Utf-8 solution from this ticket - https://github.com/inspireui/mstore/issues/140. Other RTL issues will be fixed on next version

[2018-02-21 15:19] inspireui commented on #147
closed as duplicate with https://github.com/inspireui/mstore/issues/143 - this issues will be fixed on v3.4.5

[2018-02-21 15:19] #147 closed

[2018-02-21 15:23] smdanishiqbal commented on #154
@inspireui  will u please mention the file name in which JS for stripe support is declared in  mstore-checkout plugin?

[2018-02-21 15:29] inspireui commented on #154
You can customize this plugin file - https://github.com/inspireui/mstore/blob/master/plugins/mstore-checkout/mstore-checkout.php

[2018-02-21 16:35] andybedoy opened #156 "Splashscreen and home"
splashscreen and home does not show the products horizon layout i followed all the instructions and continues without fixing and i  reviewed this arrangement and it's done

https://mstore.gitbooks.io/mstore-manual/content/chapter6.html

https://github.com/inspireui/mstore/issues/81

[2018-02-21 17:04] andybedoy commented on #44
for me dont work

[2018-02-21 21:53] andybedoy commented on #156
I managed to solve the home, it turns out that in the documentation do not explain that the number id of the category is in the url of woocommerce, what happend with splashscreen any solution?

[2018-02-22 03:36] andybedoy commented on #156
i resolve the page contact and home only need splashscreen and intro app or onboard after enter to app

[2018-02-22 12:10] lin-zy1229 opened #157 "Login screen shows every time in Cart Screen even once login success."
### Reproduction Error
I would do this action.
* Launch app and go to shop (not login)
* Go cart or buy any product
* Click 'Next Step' in Cart Screen.
* It will show Login screen, and do login.
* it will be back to Cart screen automatically once login success.
* Try to click 'Next Step' Button again.

This action succeed only once.
Well, try to logout, and go to Cart screen, and repeat above step

[2018-02-22 21:19] andybedoy commented on #157
me too i have this problem

[2018-02-23 02:51] levi-beers commented on #157
Do you have the Wordpress plugins "JSON API, JSON API AUTH and Mstore Checkout" installed and activated? You must also have "Anyone can register" option enabled with Wordpress. Last, ensure the WooCommerce API Key/Secret is correct.

[2018-02-23 02:54] lin-zy1229 commented on #157
@levi-beers, Please note that login has been done successfully.

[2018-02-23 03:00] inspireui commented on #157
Hi @lin-zy1229 could you try to install Reactotron - https://mstore.gitbooks.io/mstore-manual/content/chapter2.html then check the return Json when processing login is success or not, could be and issue with authentication on your site - thank you!

[2018-02-23 03:05] andybedoy commented on #157
when compiling, the changes in the physical device are not displayed, they only work in the virtual

[2018-02-23 03:10] lin-zy1229 commented on #156
I've splashscreen issue, too.
My issue is:

I resolved it by modifying following code:
#### File: \src\containers\SplashScreen\index.js

[code]
However, I don't know why I should do this.
Please explain me what the exact way is to solve this issue.

[2018-02-23 03:14] lin-zy1229 commented on #157
Hi @inspireui , if it is the issue with authentication on my site, how can the login in Slide menu's Login Menu succeed? Could you please explain it?

[2018-02-23 17:50] andybedoy commented on #157
same error, login in first time well, close session and try again to start and do not login, error with facebook login

[2018-02-23 18:09] andybedoy commented on #157
in the virtual device does not generate that problem

[2018-02-23 23:20] andybedoy opened #158 "change the homescreen"
i want change the homescreen what files i have the revise?

[2018-02-24 09:55] Brdnn commented on #151
I don't know how to change the API return for affiliate link :(

Besides, for the links in single news page is not clickable.

[2018-02-24 10:10] z5614036 commented on #155
![20180224181043](https://user-images.githubusercontent.com/24545834/36629221-f8da4d4e-198d-11e8-8ebd-2e48899f2d78.jpg)

[2018-02-24 10:11] z5614036 commented on #155
after install plugin,everything is going wrong

[2018-02-24 10:12] z5614036 commented on #155
![20180224181242](https://user-images.githubusercontent.com/24545834/36629236-3d5369ec-198e-11e8-85f9-e31c5c343a11.jpg)

[2018-02-25 00:05] lin-zy1229 commented on #157
Same in the simulator in my case.

[2018-02-25 05:02] z5614036 opened #159 "woocommerce_rest_authentication_error"
{"code":"woocommerce_rest_authentication_error","message":"Invalid signature - provided signature does not match.","data":{"status":401}}，I have changed consumerKey and consumerSecret for app.

[2018-02-25 09:00] z5614036 commented on #159
http://192.168.1.107:8888/wordpress/wp-json/wc/v2/products?oauth_consumer_key=ck_2cd037d426254baefcdb4fc164181bb54ce2e155&oauth_nonce=7mKZf1jPHTh1nTRbTmrfZQvTxs5Yo5t0&oauth_signature_method=H
MAC-SHA256&oauth_timestamp=1519549096&oauth_version=1.0&per_page=10&page=1&purchasable=true&category=18&oauth_signature=H8%2BCWrX80z36uxdkvtv6RBkJGNh8IJRxZrDzWb5gSfw%3D,and
method: 'GET',  encoding: 'utf8', t

[2018-02-25 09:11] z5614036 commented on #159
![picture](https://user-images.githubusercontent.com/24545834/36639792-e952bf0c-1a4e-11e8-8ec8-d5f748e68abd.jpg)

[2018-02-26 08:35] inspireui commented on #158
Hi, you can check the HomeScreen.js and Home/index from the container.

[2018-02-26 08:35] #158 closed

[2018-02-26 08:49] inspireui commented on #155
Hi, could you check the guide from here - https://github.com/inspireui/mstore/tree/master/plugins/mstore-checkout/wp-templater

It cause by import the wp-templaer from mstore-checkout line 64
Could be and issue with your PHP version - thank you!

[2018-02-27 07:53] stmkjp commented on #159
@z5614036 , I think it's due to the plain http connection.
I had the same problem but it's gone after I made a https connection.

It would be no problem if you connect the server through https.but otherwise, you have to change the app code a little bit. ( But I recommend to implement https connection )

Please refer here for implementing http connection => https://woocommerce.github.io/woocommerce

[2018-02-27 16:36] Brdnn commented on #84
Looking forward for this features too!

[2018-02-28 07:11] z5614036 commented on #155
my php version should be 7.2.2，use xampp 3.2.2version

[2018-03-02 05:37] inspireui commented on #159
@z5614036 could you try to change to vhost with port 80 instead of current setting

Also check Setting/Permalink Settings/ Change to "Post name

[2018-03-05 04:40] mayankgirdhar commented on #156
i have a splash screen not showing problem please help and when will you give next update please tell us.

[2018-03-05 10:08] minhcasi commented on #150
Hi, please try to update the mstore-checkout to fix this issue - https://github.com/inspireui/mstore/tree/master/plugins/mstore-checkout

Thank you!

[2018-03-05 10:08] #150 closed

[2018-03-06 14:55] levi-beers opened #160 "Bug: WooCommerce Order Notifications Not Being Sent - Cash Payment Option"
I've noticed that the order notifications which are sent to the site admin and the user when an order is placed do not happen when an order is submitted via the mobile app. Any idea on how to resolve this?

[2018-03-06 15:27] levi-beers opened #161 "Bug: After successful payment, if user closes out of webview payment window during 2nd order, app shows order received"
Details: If a user successfully completes an order and then goes to place a 2nd order, if the user closes out of the webview payment window without paying the app screen changes to "Order Received" as if the user successfully checked out. The app should remain on the payment choice select screen.

[2018-03-06 18:29] levi-beers opened #162 "Coupon Bugs: 1) Cannot checkout with Coupon + Cash Payment & 2) Wrong coupon calculation"
1) When I try to checkout using a coupon and the cash payment option, the app comes back "Invalid Parameter(s): coupon_lines"

2) I created a 5 dollar off coupon and the system applied the code, but gave a 5 percent discount instead. It should detect whether it's a percentage or a monetary amount.

[2018-03-07 01:19] lin-zy1229 commented on #61
same issue of:

../../../ios/Pods/Headers/Public/Stripe/Stripe.h:1:1: error: expected identifier or '('

[2018-03-07 01:26] lin-zy1229 opened #163 "iOS Build Error in Stripe.h"
<img src="https://i.imgur.com/bJZIdmd.png">

../../../ios/Pods/Headers/Public/Stripe/Stripe.h:1:1: error: expected identifier or '('

[2018-03-07 10:19] lin-zy1229 opened #164 "Delete button disappeared in Cart Page."
It is okay when app runs first.

Well, when I close the app completely by removing in apps stacks, remaining some products in cart, and relaunch the app, then I can't remove any product by swiping left, because red DELETE button disappeared.
***Now the only way to get rid of it is to buy out all of items pending or delete the app and reinstall it.***
Very big issue for me.
<hr>
<img src="https://i

[2018-03-07 10:21] lin-zy1229 commented on #163
I fixed it by downloading and installing FBSDK into `~/Documents/FackbookSDK` directroy.

[2018-03-07 19:34] andybedoy commented on #156
continue dont work, please fixed this error be cause the app without splashscreen is very bad

[2018-03-07 19:39] andybedoy commented on #104
what happend with this error?

[2018-03-08 18:20] andybedoy opened #165 "Intro walktrought"
in the last version dont have file intro what happend with this file?  i need intro for my app

[2018-03-08 22:53] lin-zy1229 commented on #156
@mayankgirdhar, Sorry, I was using 3.3.3

[2018-03-09 01:30] Sherif-Magdy opened #166 "Login error Unkonw controller 'mstore_user'"
Hi,

I've an error in user login.
Firstly I installed & actives all required plugins.

The error message is: "Unknown controller 'mstore_user'"

[2018-03-09 08:42] lin-zy1229 commented on #166
Why don't you install mstore-checkout plugin in your wordpress?

[2018-03-09 16:56] inspireui commented on #160
Hi @levi-beers could i know the order is made with COD or payment gateway, please try to change the "payment status" on the app and make sure it is enable to allow send notification from the Wordpress site (with that status)

[2018-03-09 16:57] inspireui commented on #161
Noted, this is a bug that will be fixed.

[2018-03-09 17:16] inspireui commented on #164
Thanks @lin-zy1229 we are trying to replicate it, could i know it is test on which Android version ?

[2018-03-10 00:31] lin-zy1229 commented on #164
Android 7.0 (API 24)

[2018-03-10 16:47] shamstarek commented on #166
I have the same issue.
the installed plugins are:
1- mstore-checkout
2- json-api-auth
3- json-api
4- better-rest-api-featured-images
5- regenerate-thumbnails

But when I test the API call, it back an error message:
/api/mstore_user/generate_auth_cookie/
{
  "status": "error",
  "error": "Unknown controller 'mstore_user'."
}

I'm using php ver 7.1
Can you help me please?

[2018-03-10 16:55] lin-zy1229 commented on #166
@shamstarek , please install "Mstoreapp Mobile App" plugin, and check if you installed "Mstore CheckOut Plugin and API" plugin.

[2018-03-10 17:29] shamstarek commented on #166
Thanks @lin-zy1229
Mentioned plugin "https://wordpress.org/plugins/woo-mstoreapp-mobile-app/" just installed and activated.
Then I generate a new api key and set consumer & secret key in WordPress->Mobile App.

But the issue still exists.
Any help?

[2018-03-10 17:33] lin-zy1229 commented on #166
@shamstarek , What is your mstore-pro version ?

[2018-03-10 17:45] shamstarek commented on #166
@lin-zy1229 3.4.4

[2018-03-10 18:01] shamstarek commented on #166
@lin-zy1229 Yes, fixed.
Many Thanks

[2018-03-10 18:03] lin-zy1229 commented on #166
@shamstarek , it is strange you voted and removed soon.

[2018-03-11 14:18] #166 closed

[2018-03-11 14:20] lin-zy1229 commented on #164
Hope this issue to be resolved quickly. and I am very regret to know this app has lots issues.

[2018-03-11 14:22] inspireui commented on #164
Hi, we've replicated it and fixing the issue - thanks

[2018-03-11 14:23] lin-zy1229 commented on #164
Please send me the solution.

[2018-03-12 00:19] lin-zy1229 commented on #164
you do not share the solution?

[2018-03-12 07:22] andybedoy commented on #156
@lin-zy1229 you can pass me the previous version you have 3.3.3 please? my email is gerenciadongato@gmail.com

[2018-03-12 11:04] inspireui commented on #164
response and send package to your email, basically you can reinstall this library to fix the problem - https://github.com/jemise111/react-native-swipe-list-view

[2018-03-12 11:04] #164 closed

[2018-03-12 11:08] lin-zy1229 commented on #164
Hello, what do you mean 'reinstall' ?
I am using already latest version of it.

[2018-03-12 11:13] inspireui commented on #164
the project is using 0.4.7, if you update to latest v1.0.6 then you need to check if the format is change or something else, try to use their example

[2018-03-12 11:21] inspireui commented on #163
Thank you!

[2018-03-12 11:21] #163 closed

[2018-03-12 11:35] lin-zy1229 commented on #164
Hello, please just explain why it works not.
It worked at the first, and just doesn't work when relaunch with remaining products in Cart.
I think this issue hasn't relation with 'react-native-swipe-list-view' dependency.
Hope your kind explanation, and more reasonable suggestion.

[2018-03-12 14:20] hefejeff commented on #109
I am getting this same issue on a brand new install with wp and woo hosted on online.  Any help would be greatly appriciated.  The bug appears to be in the request function in the omni file.

[2018-03-13 01:07] lin-zy1229 commented on #164
It doesn't work.

[2018-03-13 01:09] inspireui commented on #164
so please try to use the remove button instead of the swipe-list-view on this lib or using other library like this one - https://github.com/dancormier/react-native-swipeout

[2018-03-13 07:26] techview51 commented on #143
@inspireui I tried that. Another problem raised: After choosing payment method, and going to next step, the app shows "Page not found".
Just for the record, I use a local payment gateway.
Solution please.

[2018-03-13 15:23] smdanishiqbal opened #167 "How to Add new Product Category in menu and Blog Category in sidebar"
I want to add a product category in left menu through which user can view special offer etc and i also need a blog category menu .
![screenshot_20180313-170840](https://user-images.githubusercontent.com/10116452/37351216-627a9ee0-26fc-11e8-921d-373a5ff8bc76.jpg)

[2018-03-13 15:48] inspireui commented on #150
Hi, you can re-install the mstore-checkout then it will be fixed on your site - https://github.com/inspireui/mstore/tree/master/plugins/mstore-checkout

[2018-03-13 15:55] inspireui commented on #156
@lin-zy1229 @andybedoy you can use this lib for the Stripe native payment - https://github.com/tipsi/tipsi-stripe - the reason we replace this lib is it trouble for most user when installing and not dynamic as Webview although the UX is better

[2018-03-13 15:56] inspireui commented on #167
Noted you idea, we will consider to update on later version - thank you!

[2018-03-13 16:00] mayankgirdhar commented on #156
@andybedoy @lin-zy1229 @inspireui guys i don't need stripe payments just need cash on delivery. is 3.3.4 only has webview payment if yes how can i download 3.3.3 version?

[2018-03-13 19:39] lin-zy1229 commented on #150
Hello~!!!
Please read my description carefully.
I am trying your demo "mstore.io", not my site (mstore.local nor my host).

[2018-03-13 23:19] gaboelnuevo opened #168 "Invalid version"
npm ERR! Darwin 16.7.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v7.6.0
npm ERR! npm  v4.1.2

npm ERR! Invalid version: "3.4"
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://github.com/npm/npm/issues>

npm ERR! Please include the following file with any support request:
npm ERR!     /Users/user/Documents/mstore-v3.4.4/mst

[2018-03-13 23:19] gaboelnuevo commented on #168
Resolved editing package.json

[2018-03-14 11:38] leiluspocus opened #169 "[BEONEWS] Can't run the project ?"
Hi

I tried to run the install and I'm having a weird issue after the app has bundled.

![capture d ecran 2018-03-14 a 12 35 30](https://user-images.githubusercontent.com/1473845/37400169-53ab834c-2784-11e8-91ae-f41ba3a17c3b.png)

I followed the steps mentioned here for the dependencies: https://beonews.inspireui.com/step-1.html I managed to run succesfully a basic react native app. And I'm still

[2018-03-14 15:32] lin-zy1229 opened #170 "Splash screen in iOS"
It doesn't work.
It shows twice while launching app.
First screen, is Mstore splash, and 2nd screen is My custom splash, and 3rd screen is Home screen.
I replaced both of 2 images same, in src/images/splash_screen.png file and ios\beostore\Images.xcassets\splash_screen.imageset\splash_screen.png.

But still MStore splash screen shows. even I confirmed the view of beostore/LaunchScreen.xib in Xcode

[2018-03-14 15:34] lin-zy1229 commented on #169
Are you working with mstore-pro or what?

[2018-03-14 15:36] leiluspocus commented on #169
I bought the theme Beonews Pro on CodeCanyon ( https://codecanyon.net/item/beonews-react-native-mobile-app-for-wordpress/19186520 )

[2018-03-14 15:37] lin-zy1229 commented on #169
I recommend you please don't use their products.
not ready to release at all.

[2018-03-14 23:09] minhcasi commented on #170
not supported

[2018-03-14 23:09] #170 closed

[2018-03-15 00:32] lin-zy1229 commented on #170
Not supported? then, All customers should use your mstore splash image?

[2018-03-15 00:35] inspireui commented on #170
You can go to images/splash_screen.png to replace this image and open Xcode to replace it here - https://gyazo.com/9ef1525783b87d18a7ca31b88f594b86 Thanks

[2018-03-15 00:43] lin-zy1229 commented on #170
Thanks, @inspireui , however, didn't you read my description carefully?

Very sorry for your rough support.

[2018-03-15 00:46] inspireui commented on #170
Thanks @lin-zy1229

Pls don't try to give some comment like this - https://gyazo.com/f229cdf957ce6d80c20e8650c6967cf2 if you would like to get our further support - thank you!

[2018-03-15 00:47] inspireui commented on #168
Thank you!

[2018-03-15 00:47] #168 closed

[2018-03-15 00:47] lin-zy1229 commented on #170
Is this the answer for this issue?

[2018-03-15 00:49] inspireui commented on #170
You can remove the custom splash and use LaunchScreen.xib for change the splash screen

[2018-03-15 00:50] lin-zy1229 commented on #170
Hello, what is the custom splash? I never added anything there.
Just replaced only splash image.
I meant just custom splash image.

[2018-03-15 00:51] inspireui commented on #170
Try to send you whole custom package to our support email support@inspireui.com - we will help to check the splash screen issue

[2018-03-15 00:52] lin-zy1229 commented on #170
HELLO, no any custom package here~!!!

[2018-03-15 00:53] inspireui commented on #170
i mean the whole source code code you are having trouble with this splash screen, zip it and share the link via Dropbox - thanks !

[2018-03-15 01:28] lin-zy1229 commented on #164
I re-wrote the code thoroughly using react-native-swipeout, and resolved this issue.

[2018-03-15 02:26] inspireui commented on #169
Hi, could you help to check 2 issues:
1. The facebookSDK is download and copy to Documents, base on this guide - https://beonews.inspireui.com/beonews-setup.html

2. Please open the XCode and run the project from there, then send us the detail log screenshot when click to the 'red warning icon'

Thank you!

[2018-03-15 09:14] Brdnn commented on #131
Hi, variant product does change the price of the product but it doesnt change the product image respectively. looking forward for new update! Cheers

[2018-03-15 13:40] inspireui commented on #169
you can try to see if can work on cmd:
`yarn start --reset-cache
react-native run-ios`

There is no issues with the warning message as most of them is come from the library and also form react native core library

[2018-03-15 14:31] leiluspocus commented on #169
I have an other error.

![capture d ecran 2018-03-15 a 15 28 17](https://user-images.githubusercontent.com/1473845/37469450-968e2bc4-2865-11e8-9fce-ef2f0f770757.png)

[2018-03-16 06:53] Brdnn commented on #126
Hi, I am facing the same issue and I fixed them with the solution above. However, its just fixed iOS version but Android version is still not scrollable. Any solution for this?

[2018-03-19 16:36] shamstarek commented on #162
I have the same for the first issue, Any help?

[2018-03-19 16:51] inspireui commented on #169
Hi, could you try to tag some post, looks like your Wordpress don't have the tag so it is returned empty - thank you!

[2018-03-21 06:31] andybedoy commented on #157
i continue with this error

[2018-03-21 19:46] ganesh742211 opened #171 "Unable to get started with MStore Expo"
Iam new to react native..so just brought this template .. but facing some issues..
can anyone help me.. below is the code from cmd

C:\mstore-v3.4.4-expo\mstore-expo>yarn install
yarn install v1.5.1
[1/4] Resolving packages...
success Already up-to-date.
Done in 0.87s.

C:\mstore-v3.4.4-expo\mstore-expo>yarn start
yarn run v1.5.1
error An unexpected error occurred: "Command \"start\" not found.".